- content_for :page_title do
  Account

.row
  .col-sm-2
    .list-group
      = link_to 'Refresh social accounts', check_friends_connections_path, class: 'list-group-item'
      = link_to 'Change password', edit_user_registration_path, class: 'list-group-item'
      - if can? :manage, :all
        = link_to 'Admin UI', admin_root_path, class: 'list-group-item'
      = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'list-group-item'

  .col-sm-10
    %table.table.table-border
      %tbody
        %tr
          %th Name
          %td= current_user.name
        %tr
          %th Showcase text
          %td= best_in_place current_user, :showcase_text, as: :input, url: user_path(format: 'json')
        %tr
          %th Email
          %td= current_user.email
        %tr
          %th Ring size
          %td= best_in_place current_user, :ring_size, as: :select, collection: Hash[Ring::SIZES.map { |x| [x.to_s, x.to_s] }], url: user_path(format: 'json'), place_holder: 'Click here to select your ring size'
        %tr
          %th Tier
          - if !current_user.subscription.nil? && current_user.subscription.active?
            %td
              = current_user.subscription.plan.name
              = link_to 'Change plan', edit_subscription_path
          - else
            %td
              Inactive
              (#{link_to('change', edit_subscription_path)})
        %tr
          %th Twitter
          - if current_user.twitter
            %td
              - if current_user.twitter.expired?
                = link_to 'Token expired, please re-authenticate', '/auth/twitter'
              - else
                = link_to "@#{current_user.twitter.username}", current_user.twitter.profile_url
                = link_to '(Disconnect)', connection_path(current_user.twitter), method: :delete
          - else
            %td= link_to 'Connect', '/auth/twitter'
          %tr
            %th Facebook
            - if current_user.facebook
              %td
                - if current_user.facebook.expired?
                  = link_to 'Token expired, please re-authenticate', '/auth/facebook'
                - else
                  = link_to current_user.facebook.username, current_user.facebook.profile_url
                  = link_to '(Disconnect)', connection_path(current_user.facebook), method: :delete
            - else
              %td= link_to 'Connect', '/auth/facebook'

    = render partial: 'friends'
