.page-header
  %h1 Dashboard

= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar-link'

%p.text-center= link_to 'Admin UI', admin_root_path, class: 'btn btn-default btn-xs'

.panel.panel-default
  .panel-heading
    %span.pull-right=link_to 'Change plan', edit_subscription_path
    Subscription status
  .panel-body
    - if !current_user.subscription.nil? && current_user.subscription.active?
      %h4= current_user.subscription.plan.name
    - else
      %h4.text-muted Inactive

.panel.panel-default
  .panel-heading
    %span.pull-right=link_to 'Change', edit_user_registration_path
    Your account information
  .panel-body
    %dl.dl-horizontal
      %dt Name
      %dd= current_user.name

      %dt E-mail
      %dd= current_user.email

      %dt Twitter
      - if current_user.twitter
        %dd= link_to current_user.twitter.uid, current_user.twitter.profile_url
      - else
        %dd= link_to 'Connect your Twitter account', '/auth/twitter'

      %dt Facebook
      - if current_user.facebook
        %dd= link_to current_user.facebook.uid, current_user.facebook.profile_url
      - else
        %dd= link_to 'Connect your Facebook account', '/auth/facebook'
.panel.panel-default
  .panel-heading
    %span.pull-right=link_to 'Check for friends', connections_check_friends_path, method: :post
    Friend discounts
  %table.table
    %thead
      %tr
        %th Name
        %th Network
        %th Discount
    %tfoot
      %tr
        %th.text-right{colspan: 2} Discount total:
        %td= Money.new(current_user.friends.count('distinct to_id') * 100, 'GBP').format
    %tbody
      - if current_user.friends.count > 0
        - current_user.friends.to_a.group_by(&:to_id).each_value do |friend|
          - friend.each do |edge|
            %tr
              - if friend.first == edge
                %td{rowspan: friend.size}= edge.to.name
              %td= link_to edge.network.capitalize, edge.to.send(edge.network).try(:profile_url)
              - if friend.first == edge
                %td{rowspan: friend.size}= Money.new(100, 'GBP').format
      - else
        %tr
          %td.text-muted.text-center{colspan: 3} No friends detected on Twitter or Facebook yet
