- content_for :page_title do
  Dashboard

.page-header
  %h1 Dashboard

= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar-link'

%p.text-center= link_to 'Admin UI', admin_root_path, class: 'btn btn-default btn-xs'

- if current_user.needs_ring_size?
  = simple_form_for(current_user, url: edit_user_registration_path, method: :put, html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f|
    = f.input :ring_size, collection: 1..20, prompt: 'Select your ring size'
    = f.submit 'Save'

  %hr/

.panel.panel-default
  .panel-heading
    %span.pull-right=link_to 'Change plan', edit_subscription_path
    Subscription status
  .panel-body
    - if !current_user.subscription.nil? && current_user.subscription.active?
      %h4= current_user.subscription.plan.name
    - else
      %h4.text-muted Inactive

.panel.panel-default
  .panel-heading
    %span.pull-right=link_to 'Change', edit_user_registration_path
    Your account information
  .panel-body
    %dl.dl-horizontal
      %dt Name
      %dd= current_user.name

      %dt E-mail
      %dd= current_user.email

      %dt Twitter
      - if current_user.twitter
        %dd
          = link_to "@#{current_user.twitter.username}", current_user.twitter.profile_url
          = link_to 'Disconnect', connection_path(current_user.twitter), method: :delete
      - else
        %dd= link_to 'Connect your Twitter account', '/auth/twitter'

      %dt Facebook
      - if current_user.facebook
        %dd
          = link_to current_user.facebook.username, current_user.facebook.profile_url
          = link_to 'Disconnect', connection_path(current_user.facebook), method: :delete
      - else
        %dd= link_to 'Connect your Facebook account', '/auth/facebook'

= render partial: 'friends'
