%p{ style: 'margin-bottom: 36px' } Hello #{@user.name},

%p
  %u Upcoming Events

- if @upcoming_events.empty?
  %p{ style: 'margin-bottom: 36px' } No upcoming events currently
- else
  %table{ style: 'border-collapse: collapse; font: 14px/18px monospace; margin-bottom: 36px' }
    %thead
      %tr
        %th{ style: 'padding-right: 18px; font: 14px/18px monospace; border-bottom: 1px solid #000' } Day
        %th{ style: 'padding-right: 18px; font: 14px/18px monospace; border-bottom: 1px solid #000' } Time
        %th{ style: 'padding-right: 18px; font: 14px/18px monospace; border-bottom: 1px solid #000' } Event
    %tbody
      - @upcoming_events.each do |e|
        %tr
          %td{ style: 'padding-right: 18px; font: 14px/18px monospace' }= e.start_at.strftime('%e %A %B, %Y')
          %td{ style: 'padding-right: 18px; font: 14px/18px monospace' }= e.start_at.strftime('%l:%M%P')
          %td{ style: 'padding-right: 18px; font: 14px/18px monospace' }= link_to e.name, events_url(anchor: "event-#{e.id}")

%p
  %u New Members This Month

%ul{ style: 'padding-left: 18px' }
  - @new_users.each do |u|
    %li
      - if u.url.blank?
        %span>= u.name
      - else
        %a{ href: u.url }>= u.name
      - unless u.showcase_text.blank?
        = ", #{u.showcase_text}"

%p
  %a{ href: graphs_full_url } See all members

%p{ style: 'margin-bottom: 36px' }
  You've made #{@num_new_connections} new connections this month, and there are still #{@num_users - @num_connections} members you haven't connected to yet.
  %br/
  - if @user.facebook.try(:expired?) || @user.twitter.try(:expired?)
    Some of your social accounts have expired and need to be
    %a{href: check_friends_connections_url} re-connected
  - else
    To make sure this is up to date,
    %a{href: check_friends_connections_url} refresh your social accounts.

%p
  %u Billing Invoice

%table{ style: 'border-collapse: collapse; font: 14px/18px monospace' }
  %tbody
    %tr
      %td{ style: 'padding-right: 18px; font: 14px/18px monospace' } Membership Tier:
      %td{ style: 'padding-right: 18px; font: 14px/18px monospace' }= @subscription.plan.try(:name) || 'None'
      %td{ style: 'padding-right: 18px; font: 14px/18px monospace' }= @subscription.plan.try(:value)
  %tfoot
    %tr
      %td{ style: 'padding-right: 18px; border-top: 1px solid #000; font: 14px/18px monospace'} Total:
      %td{ style: 'padding-right: 18px; border-top: 1px solid #000; font: 14px/18px monospace'}
      %td{ style: 'padding-right: 18px; border-top: 1px solid #000; font: 14px/18px monospace'}= @subscription.plan.try(:value)

%p{ style: 'margin-bottom: 36px' }
  You will be billed with your card ending in #{@card_num} (
  %a{href: edit_subscription_url }> change payment details
  )

%p{ style: 'color: #555'}
  Any problems with your membership, or if you see anything funny with this email, please contact
  %a{ href: 'mailto:ed@nwspk.com' } ed@nwspk.com

%p
  %strong Newspeak House
