- content_for :page_title do
  Full member graph

= render partial: 'graph'

.graph-panel
  = form_tag graphs_full_path, method: :get, class: 'form-vertical' do
    .form-group
      = date_range_select
    .form-group
      = submit_tag 'Show connections', class: 'btn btn-default'
      %a.select-mode{href: '#', class: 'btn btn-default'} Select mode: Friends
      - if user_signed_in?
        = link_to 'Refresh social accounts', check_friends_connections_path, class: 'btn btn-default'
