.page-header
  %h2 Forgot your password?

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }, wrapper: :horizontal_form) do |f|
  = f.error_notification

  = f.input :email, required: true, autofocus: true

  .form-group
    .col-sm-offset-3.col-sm-6
      = f.button :submit, "Send me reset password instructions"

%hr/

= render "devise/shared/links"
