%section.flip.contact
  .contact.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h2= link_to 'Visit Newspeak House', 'https://goo.gl/maps/Z8Sa4T6sb3n'

    %address
      133-135 Bethnal Green Road,
      %br/
      Shoreditch, London E2 7DG

    %p
      %b
        To arrange a visit, contact:

    %p
      Ed Saperia, Founder
      %br/
      = link_to 'ed@nwspk.com', 'mailto:ed@nwspk.com'
      %br/
      %br/
      = link_to 'Or come to one of our events', 'events'

  = link_to 'Open Map', "https://goo.gl/maps/Z8Sa4T6sb3n", class: 'action-btn btn btn-default'

%section
  .contact.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h2= link_to 'Hire Newspeak House', asset_path('brochure.pdf')

    %p Newspeak House is available for hire.

    %p
      %b
        For enquiries please contact:

    %p
      Aisha Brady, Programme Assistant
      %br/
      = link_to 'aisha@nwspk.com', 'mailto:aisha@nwspk.com'

  = link_to 'View Hire Brochure', asset_path('brochure.pdf'), class: 'action-btn btn btn-default'
