%section.flip.events#events
  .col-md-8.col-md-offset-2.col-xs-12
    %h2= link_to 'Public Events', events_path
    .calendar-links
      = link_to api_events_url(protocol: 'webcal', format: :ics, only_path: false), class: 'calendar-link' do
        Subscribe
    .calendar-links
      = link_to 'Propose a Community Event', events_path, class: 'calendar-link'
      = link_to 'Hire for a Private Event', "https://www.appearhere.co.uk/spaces/london/shoreditch/shoreditch-large-retail-space", class: 'calendar-link'

    - if @events.empty?
      %p No upcoming events currently
    - else
      %ul
        - @events.each do |event|
          = render partial: 'events/row', locals: { event: event }


  