<!-- render in other views using <%= render "_faculty" %> -->

%div
  %h4.profile-title Edward Saperia
  %div.profile-subtitle
    Dean of Newspeak House
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "edward.jpg"})"}
  %p
    %a{:href => "mailto:ed@newspeak.house"} ed@newspeak.house
    •
    %a{:href => "https://bit.ly/edsaperia"} homepage
  %p
    Edward is the dean of Newspeak House, responsible for setting its research
    direction as well as the day-to-day running of the college.

  %h4.profile-title Matt Stempeck
  %div.profile-subtitle
    Librarian of Newspeak House
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "matt-stempeck.png"})"}
  %p
    %a{:href => "mailto:matt@civictech.guide"} matt@civictech.guide
    •
    %a{:href => "https://mattstempeck.com"} mattstempeck.com
  %p
    Matt Stempeck is the librarian of Newspeak House. He curates the&nbsp
    %a{:href => "https://directory.civictech.guide/"}> Civic Tech Field Guide
    , the most comprehensive collection of democracy tech projects anywhere.
    He helps the college learn what's worked, what hasn't, and how not to be the
    latter, and also help initiatives to connect into related work being done
    across the field.
  %p
    Matt's professional background includes stints as Microsoft's Director of
    Civic Technology, Hillary Clinton's Director of Digital Mobilization, and
    MIT Media Lab's Center for Civic Media's leftover-catering-consuming
    Master's student. He's based in Lisbon, Portugal, and will panel for travel.

  %h4.profile-title Dr Zarinah Agnew
  %div.profile-subtitle
    Lecturer in Collective Behaviour
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "Zarinah-Colour.png"})"}
  %p
    %a{:href => "mailto:zarinah@newspeak.house"} zarinah@newspeak.house
    •
    %a{:href => "http://www.zarinahagnew.com"} zarinahagnew.com
    •
    %a{:href => "https://x.com/zarinahagnew"} @zarinahagnew
  %p
    Zarinah is a neuroscientist by training. After spending over a decade in
    academia, they left to study the science of groups of brains - that is,
    humans in collectivity.
  %p
    Alongside their work with the college, Zarinah runs three nonprofits aimed
    at experimental aspects of society, collective transformation and
    para-institutions. The
    %a{:href => "https://www.socialobservatory.space"} Social Science Observatory
    is dedicated to the study of social science in the wild,
    %a{:href => "https://www.alternativejustices.com/"} Alternative Justices
    works towards abolitionist community-based harm prevention and response, and
    %a{:href => "https://www.districtcommons.org/"} District Commons
    engineers experimental spaces where humans can ‘be otherwise’. Together,
    these strands allow both the prefiguration of new social configurations, as
    well as the study of their transformational potential.

  %h4.profile-title Dr Joshua Becker
  %div.profile-subtitle
    Lecturer in Collective Intelligence
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "joshua-becker.jpg"})"}
  %p
    %a{:href => "mailto:joshua.becker@ucl.ac.uk"} joshua.becker@ucl.ac.uk
    •
    %a{:href => "https://linkedin.com/in/collectivestudies"} LinkedIn
    •
    %a{:href => "https://github.com/joshua-a-becker"} github
    •
    %a{:href => "https://scholar.google.com/citations?user=Y2tHZMwAAAAJ"} publications
  %p
    Joshua is an Associate Professor at the UCL School of Management with 15+
    years practitioner experience in mediation, facilitation, and coaching along
    with a deep background in event organizing. His research and personal
    interest focuses around "collective intelligence", which to him means
    developing and testing formal/mathematical models of human behavior to
    understand and engineer decision making processes for groups from teams to
    institutions to societies. After 10 years focusing on belief accuracy, he
    has begun to combine his facilitation practice with his scientific practice
    through negotiation theory. He's currently very interested in how groups can
    reach agreement on solutions to technically challenging problems when people
    have different preferences and priorities.

  %h4.profile-title Theodore Keloglou
  %div.profile-subtitle
    Lecturer in Digital Protocols
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "theo.jpg"})"}
  %p
    %a{:href => "mailto:theo@torchandzen.com"} theo@torchandzen.com
    •
    %a{:href => "https://torchandzen.com/"} website
    •
    %a{:href => "https://github.com/sirodoht"} github
  %p
    Theodore Keloglou is a software engineer with a strong interest in
    decentralised technologies, governance, and knowledge infrastructure. He
    spends most of his time working at pod.network, a staked-based programmable
    layer-1 decentralised service.
  %p
    In addition to his role as lecturer at the London College of Political
    Technology, he is an organising member and teacher at Shoshin College, an
    experimental independent school and a publisher at Laniakea Books, a public
    domain publishing house. He is the author of <em>Letters from Prison</em>, a
    book about personal freedom in Western societies.

  %h4.profile-title James Moulding
  %div.profile-subtitle
    Lecturer in Network Development
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "james-moulding.png"})"}
  %p
    James Moulding is the Lecturer in Network Development at Newspeak House, and
    also a fellow of the 2016-2017 cohort. James is a network thinker, political
    campaigner and simulation and serious game designer.
  %p
    James is the Network Development Lead on Involve’s
    %a{:href => "https://democracynetwork.org.uk/"}> &nbsp;UK Democracy Network
    , prior to which he was the Director of the
    %a{:href => "https://centrefordemocracy.org.uk/"}> &nbsp;Centre for Democracy
    , where he has been working to enhance the capacity of organisations and
    individuals across the UK democracy sector and increasing the strength and
    quality of connection between them.
  %p
    James has enjoyed an eclectic career working across a range of different
    roles associated with technology, community development and political
    campaigning. He began his career developing a community of technologists
    working with real-time sensor open data, before co-founding award-winning
    air quality non-profit AirPublic. He went on to work with political
    fundraising startup Crowdpac, before launching the 2017 viral mobile game
    Corbyn Run and co-founding the pioneering UK Labour Party affiliated game
    development studio Games for the Many.
  %p
    He is also a co-founder of
    %a{:href => "https://www.campaignlab.uk/"}> &nbsp;Campaign Lab
    , co-founder of
    %a{:href => "https://commonknowledge.coop/"}> &nbsp;Common Knowledge
    and as a National Coordinator of
    %a{:href => "https://extinctionrebellion.uk/"}> &nbsp;Extinction Rebellion
    \.

  %h4.profile-title Hannah O’Rourke
  %div.profile-subtitle
    Lecturer in Political Organising
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "hannah.jpg"})"}
  %p
    %a{:href => "mailto:hannah@campaignlab.uk"} hannah@campaignlab.uk
    •
    %a{:href => "https://twitter.com/Hannah_O_Rourke/"} x.com/Hannah_O_Rourke
  %p
    Hannah is a bridge builder and network maker, passionate about making politics
    more open, collaborative, and focused on the future. She has worked in
    political organising, coalition management and campaigning for over 10 years.
  %p
    She is the co-founder of
    %a{:href => "https://www.campaignlab.uk/"}> &nbsp;Campaign Lab
    , a community of technologists who
    research, test and embed new tools and new practices in political campaigns.
    She is co-author of the book
    %a{:href => "http://www.reorganise.work/"}> &nbsp;Reorganise: 15 Stories of Workers fighting back in a digital age
    \. She was formerly the director of Labour Together and convened the
    2019&nbsp
    %a{:href => "https://electionreview.labourtogether.uk/"}> Labour Election Review
    \.

  %h4.profile-title Dr Six Silberman
  %div.profile-subtitle
    Lecturer in Socio-Technical Systems
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "six.jpg"})"}
  %p
    %a{:href => "mailto:silberman.six@gmail.com"} silberman.six@gmail.com
    •
    %a{:href => "https://xd20.org"} website
  %p
    M. Six Silberman is the Lecturer in Sociotechnical Systems at Newspeak House.
    Silberman also works as a postdoctoral researcher at the University of Oxford,
    studying the regulation of algorithmic management in the
    %a{:href => "https://www.law.ox.ac.uk/imanage-rethinking-employment-law-for-a-world-of/imanage-rethinking-employment-law-world"} &nbsp;‘iManage’ Project
    with Principal Investigator Jeremias Adams-Prassl (and previously colleagues
    Aislinn Kelly-Lyth, Sangh Rakshita, and Dr Halefom Abraha). Silberman
    contributes to peer-reviewed research on on data protection law and worker
    rights, human-computer interaction and work, and the relationship between
    environmental sustainability and information technology.
  %p
    Between 2008 and 2020 Silberman was lead developer of
    %a{:href => "https://turkopticon.net/"}> &nbsp;Turkopticon
    , a web application used by ‘clickworkers’ on Amazon’s Mechanical Turk platform.
    Between 2015 and 2020 Silberman worked at IG Metall, the trade union in the
    German manufacturing sector, on worker rights in digital labour platforms.
    This work was part of a large and international body of research, software
    development, organising, and policy development that contributed to the
    adoption in 2024 of the EU Platform Work Directive.
    Between 2020 and 2022 Silberman worked as a software engineer at
    %a{:href => "https://organise.network/"}> &nbsp;Organise
    , a London-based social enterprise aiming to give people the tools,
    networks, and confidence to win positive change at work.

  %h4.profile-title Sinead Doyle
  %div.profile-subtitle
    Lecturer in Service Design
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "sinead.jpg"})"}
  %p
    %a{:href => "mailto:smcdoyle@gmail.com"} smcdoyle@gmail.com
    •
    %a{:href => "https://twitter.com/smcdoyle"} X
    •
    %a{:href => "https://bsky.app/profile/smcdoyle.bsky.social"} Bsky
    •
    %a{:href => "https://mastodon.social/@smcdoyle"} Mastodon
    •
    %a{:href => "https://www.linkedin.com/in/smcdoyle/"} LinkedIn
  %p
    Sinead is a Digital Strategist and Service Designer. As an Associate Director at
    %a{:href => "https://www.transformuk.com/Transform"}> &nbsp;Transform
    , she helps clients set a vision for their digital products and services.
    She guides multidisciplinary teams through the service design process, to
    produce better, simpler customer experiences. Over fifteen years in digital,
    she has worked across strategy, creative, and media, at agencies and
    consultancies, on projects spanning public and private sectors.
  %p
    She was lead service designer on the Covid Vaccination Programme with NHS
    England, and is currently account director on the design workstream of HMCTS
    Reform programme, digitising citizen-facing court processes within the
    Ministry of Justice.

  %h4.profile-title Sam Ballard
  %div.profile-subtitle
    Lecturer in Game Design
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "sam2.jpg"})"}
  %p
    %a{:href => "mailto:sam@sunlightafterdark.com"} sam@sunlightafterdark.com
    •
    %a{:href => "https://sunlightafterdark.com"} sunlightafterdark.com
  %p
    Sam Ballard has two roles at Newspeak House. He is lecturer in game design,
    and also artist in residence. Sam has been designing digital experiences for
    over a decade, with an emphasis on user orientated design thinking
    methodologies to solve both creative challenges & system design. He is
    currently a designer at ZA/UM, the studio behind Disco Elysium.

  %h4.profile-title Andreas Varotsis
  %div.profile-subtitle
    Lecturer in Public Sector Innovation
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "andreas-varotsis.png"})"}
  %p
    %a{:href => "mailto:andreas.varotsis@gmail.com"} andreas.varotsis@gmail.com
    •
    %a{:href => "https://andreasthinks.me/"} website
    •
    %a{:href => "https://github.com/AndreasThinks"} github
    •
    %a{:href => "https://x.com/AndreasThinks"} X
  %p
    Andreas is a data scientist and developer who works to improve operational
    delivery and services across government using technology, data, and
    evidence. He spent a decade(ish) in a variety of roles in the Metropolitan
    Police Service, including front-line operational work across London, and now
    works in central government, where he helps identify and build AI products.
  %p
    He is a passionate believer in building communities of practice, and works
    to support a range of cross-government communities, including Evidence
    House, which works to improve the use of data and IT in government, and the
    Society of Evidence Based Policing, which champions research to enhance
    policing practices and reduce crime. Keen to do more on the intersection of
    AI, collective intelligence and democracy, and also to help volunteer
    technologists support government.

  %h4.profile-title Lewis Westbury
  %div.profile-subtitle
    Lecturer in Robust Software & Systems
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "lewis-westbury.png"})"}
  %p
    %a{:href => "mailto:lewis@cantab.net"} lewis@cantab.net
    •
    %a{:href => "https://instantiator.dev"} website
    •
    %a{:href => "https://github.com/instantiator"} github
    •
    %a{:href => "https://bsky.app/profile/instantiator.bsky.social"} Bsky
    •
    %a{:href => "https://mastodon.social/@instantiator"} Mastodon
  %p
    Lewis has been a software developer for more than 25 years, and has worked
    in a wide variety of roles both as staff and contractor. Amongst other
    things, he has worked on a number of different specialist areas including
    maps and geo data at Google, and digital identity at Government Digital
    Service.
  %p
    Lewis is a senior software developer and tech lead at the
    %a{:href => "https://www.nesta.org.uk/project/centre-collective-intelligence-design/"} Centre for Collective Intelligence
    (CCID), a part of Nesta. He’s never happier than when mucking around with
    experimental prototypes and recreational coding.
