%section.fellows
  .col-md-8.col-md-offset-2.col-xs-12
    %h2= link_to 'Faculty', fellowship_path

    %h4 Dean

    %ul.row.fellows-list
      .col-xs-12.col-sm-12
        %li
          = link_to "social_media_url", class: 'ed-image' do
            = image_tag('ed_cropped_200.jpg')
          .fellow-details
            %span.fellow-name=link_to "Edward Saperia", "https://www.twitter.com/nwspk"
            %p Edward is Dean of The London College of Political Technologists at Newspeak House. Community strategist and game designer.
            %span.fellow-description= link_to "newsletter", "http://www.tinyletter.com/edsaperia"
            %span.fellow-description= link_to "@nwspk", "https://www.twitter.com/nwspk"
            %span.fellow-descrion= link_to "linkedin", "https://www.linkedin.com/edsaperia"
            %span.fellow-description= link_to "ed@newspeak.house", 'mailto:ed@newspeak.house'
            

    %h4 Resident Fellows

    %ul.row.fellows-list
      - @fellows.each do |fellow|
        .col-xs-12.col-sm-12
          %li
            = link_to fellow.url, class: 'ed-image' do
              = image_tag profile_image_url(fellow)
            .fellow-details
              %span.fellow-name= link_to fellow.name, fellow.url
              = Kramdown::Document.new(fellow.showcase_text).to_html.html_safe

  = link_to 'More about Fellowship', fellowship_path, class: 'action-btn btn btn-default'
