%section.fellows
  .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h2 Current Fellows

    %ul.row.fellows-list
      - @fellows.each do |fellow|
        .col-xs-12.col-sm-6
          %li
            = link_to social_media_url(fellow), class: 'fellow-image' do
              = image_tag profile_image_url(fellow)
            .fellow-details
              %span.fellow-name= fellow.name
              %span.fellow-description= fellow.showcase_text

  = side_link_to fellowship_path