%section.fellows
  .col-md-8.col-md-offset-2.col-xs-12
    %h2= link_to 'Current Fellows', fellowship_path

    %ul.row.fellows-list
      - @fellows.each do |fellow|
        .col-xs-12.col-sm-6
          %li
            = link_to social_media_url(fellow), class: 'fellow-image' do
              = image_tag profile_image_url(fellow)
            .fellow-details
              %span.fellow-name= link_to fellow.name, social_media_url(fellow)
              %span.fellow-description= fellow.showcase_text

              - if fellow.twitter
                %a.twitter-follow-button{ href: fellow.twitter.profile_url } Follow

  = side_link_to fellowship_path
