- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technologists'}/
  %meta{property: 'og:image', content: asset_url('newlogo.png')}/

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "areeq.png"})"}
  %div.profile-text
    %p.quote
      “It's a factory which produces transformational ideas, people, and action - the beating heart of the UK's technology and democracy scene”
    %p
      %a{:href => "https://areeqchowdhury.com/"}> Areeq Chowdhury
    %p
      Head of Policy at The Royal Society, Fellow of Newspeak House

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "aleksi.png"})"}
  %div.profile-text
    %p.quote
      “An invaluable space for practitioners and advocates to make unexpected connections, discover shared interests and to plot new actions”
    %p
      %a{:href => "https://www.oii.ox.ac.uk/people/profiles/knuutila-aleksi/"}> Dr Aleksi Knuutila
    %p
      Postdoctoral Researcher in Computational Propaganda at the Oxford Internet Institute, Fellow of Newspeak House

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "tom.jpg"})"}
  %div.profile-text
    %p.quote
      “Everyone in the UK who has any interest in tech mixed with politics, government, journalism or social change should spend time here ASAP”
    %p
      %a{:href => "http://tomsteinberg.co.uk/"}> Tom Steinberg
    %p
      Founder of mySociety, Member of Newspeak House

%h2 What is Newspeak House?
%p
  Newspeak House, The London College of Political Technology, is an independent residential college founded in 2015. Our mission is to study, nurture and inspire emerging communities of practice across civil society and the public sector in the UK.
%p
  Newspeak House has two core activities; it hosts a busy calendar of 
  = link_to 'events', 'events'
  at its campus in central London, as well as a one year
  = link_to 'residential programme', 'residency'
  for emerging leaders in the field. Those who have graduated from the residential programme - over 80 now - become
  %a{:href => "/fellowship"}> &nbsp;Fellows&nbsp;of&nbsp;Newspeak&nbsp;House
  \, and can be found in significant positions across many prominent institutions.
  
%h2 What is Political Technology?
%p
  Society is made up of an ecosystem of institutions, and the sum of their actions shape the world that we live in. For better or for worse, these actions are deeply influenced by the infrastructures that they choose to use - they determine what is measured, what is decided, and what can be done. What infrastructures lead to what outcomes? How are these choices made, and by whom? How can we create new technologies that lead to the social outcomes that we want?
%p
  Political Technology is the study of institutions founded with a purpose (civic, political, public sector, charitable, activist, etc), the communities that surround them, and in particular the novel digital infrastructures that they produce and deploy. This is a diverse and dynamic field that is affecting society in complex ways. To give an idea of the range and variety of projects, some examples:
%p
  %a{:href => "https://www.wikidata.org/"}> Wikidata
  , 
  %a{:href => "https://dogooder.co/"}> &ensp;do-gooder
  , 
  %a{:href => "https://www.organise.network/"}> &ensp;Organise
  , 
  %a{:href => "https://fullfact.org/about/automated/"}> &ensp;FullFact&ensp;Automated&ensp;Fact&ensp;Checking
  , 
  %a{:href => "https://openreferraluk.org/"}> &ensp;Open&ensp;Referral
  , 
  %a{:href => "https://policykit.org/"}> &ensp;PolicyKit
  , 
  %a{:href => "https://www.globaleaks.org/"}> &ensp;GlobaLeaks
  , 
  %a{:href => "https://oa.works/"}> &ensp;OA.Works
  , 
  %a{:href => "https://pol.is/"}> &ensp;Polis
  , 
  %a{:href => "https://en.wikipedia.org/wiki/Prediction_market"}> &ensp;Prediction&ensp;Markets
  , 
  %a{:href => "https://sci-hub.41610.org/"}> &ensp;Sci-Hub
  , 
  %a{:href => "https://www.crowdjustice.com/"}> &ensp;CrowdJustice
  , 
  %a{:href => "https://loomio.com/"}> &ensp;Loomio
  , 
  %a{:href => "https://www.theyworkforyou.com/"}> &ensp;They&ensp;Work&ensp;For&ensp;You
  , 
  %a{:href => "https://alaveteli.org/"}> &ensp;Alaveteli
  , 
  %a{:href => "https://opencollective.com/"}> &ensp;Open&ensp;Collective
  , 
  %a{:href => "https://quadraticvote.co/"}> &ensp;Quadratic&ensp;Vote
  , 
  %a{:href => "https://www.maltego.com/"}> &ensp;Maltego
  , 
  %a{:href => "https://www.opensanctions.org/"}> &ensp;OpenSanctions
  , 
  %a{:href => "https://ckan.org/"}> &ensp;CKAN
  , 
  %a{:href => "https://aragon.org/"}> &ensp;Aragon
  ,
  %a{:href => "https://www.coops.tech/"}> &ensp;CoTech
  ,
  %a{:href => "https://www.notifications.service.gov.uk/"}> &ensp;Notify
  , 
  %a{:href => "https://benefits-calculator.turn2us.org.uk/"}> &ensp;Turn2us&ensp;Benefits&ensp;Calculator
  , 
  %a{:href => "https://data.humdata.org/"}> &ensp;Humanitarian&ensp;Data&ensp;Exchange
  , 
  %a{:href => "https://charitybase.uk"}> &ensp;CharityBase
  , 
  %a{:href => "https://www.teachingpublicservice.digital/"}> &ensp;Teaching&ensp;Public&ensp;Service&ensp;in&ensp;the&ensp;Digital&ensp;Age
  , 
  %a{:href => "https://www.casmtechnology.com/"}> &ensp;CASM
  , 
  %a{:href => "https://democracyclub.org.uk/"}> &ensp;Democracy&ensp;Club
  , 
  %a{:href => "https://www.threesixtygiving.org/"}> &ensp;360Giving
  , 
  %a{:href => "https://littlesis.org/"}> &ensp;LittleSis
  , 
  %a{:href => "https://perspectiveapi.com/"}> &ensp;Perspective
  , 
  %a{:href => "https://whotargets.me/"}> &ensp;Who&ensp;Targets&ensp;Me?
  , 
  %a{:href => "https://turkopticon.net/"}> &ensp;Turkopticon
  , 
  %a{:href => "https://policymogul.com/"}> &ensp;PolicyMogul
  , 
  %a{:href => "http://www.datasciencepublicpolicy.org/our-work/tools-guides/aequitas/"}> &ensp;Aequitas
  , 
  %a{:href => "https://en.wikipedia.org/wiki/Bluesky_(protocol)"}> &ensp;Bluesky
  , 
  %a{:href => "https://en.wikipedia.org/wiki/Self-sovereign_identity"}> &ensp;Self-sovereign&ensp;Identity
  , 
  %a{:href => "https://12ft.io/"}> &ensp;12ft
  , 
  %a{:href => "https://www.overton.io/"}> &ensp;Overton
  , 
  %a{:href => "https://coralproject.net/"}> &ensp;Coral
  , 
  %a{:href => "https://www.kialo.com/"}> &ensp;Kialo
  , 
  %a{:href => "https://matrix.org/"}> &ensp;Matrix
  \.
  
  %p
    Newspeak House is a home for people working on or studying projects like these. By bringing these important communities together, we hope to support the growth and sophistication of this new field.
  %p
    If this sounds like you, consider&ensp;
    %a{:href => "/residency"}> studying with us
    !
  
%h2 Faculty & Staff

%h3 Edward Saperia
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "edward.jpg"})"}
%p
  %a{:href => "mailto:ed@newspeak.house"} ed@newspeak.house
  •
  %a{:href => "https://twitter.com/edsaperia"} @edsaperia
  •
  %a{:href => "https://tinyletter.com/edsaperia"} newsletter
%p
  Edward is dean of Newspeak House, responsible for setting its research direction as well as the day-to-day running of the college. His area of study is infrastructure for organising and network development, and he spends his time trying to connect up bits of civil society, or making tools to do so: chair 
  %a{:href => "https://centrefordemocracy.org.uk/"} Centre for Democracy
  , board member 
  %a{:href => "https://www.compassonline.org.uk/"} Compass
  , curator 
  %a{:href => "https://twitter.com/lcptuk"} LCPT Library
  , steward 
  %a{:href => "https://docs.plus"} docs.plus
  , co-author 
  %a{:href => "https://www.reorganise.work/"} Reorganise
  , co-founder 
  %a{:href => "https://data-collective.org.uk/"} Data Collective
  , co-founder 
  %a{:href => "https://www.techforgoodorganisers.uk/"} Tech for Good Organisers Network
  , founder Environmental Permit Data Service (coming soon!)

%h3 Dr Zarinah Agnew
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "Zarinah-Colour.png"})"}
%p
  %a{:href => "mailto:zarinah@newspeak.house"} zarinah@newspeak.house
  •
  %a{:href => "http://www.zarinahagnew.com"} zarinahagnew.com
  •
  %a{:href => "https://twitter.com/zarinahagnew"} @zarinahagnew
%p
  Zarinah is a neuroscientist by training. After spending over a decade in academia, they left to study the science of groups of brains - that is, humans in collectivity.
%p
  Alongside their work with the college, Zarinah runs three nonprofits aimed at experimental aspects of society, collective transformation and para-institutions. The  
  %a{:href => "https://www.socialobservatory.space"} Social Science Observatory
  is dedicated to the study of social science in the wild, 
  %a{:href => "https://www.alternativejustices.com/"} Alternative Justices
  works towards abolitionist community-based harm prevention and response, and 
  %a{:href => "https://www.districtcommons.org/"} District Commons
  engineers experimental spaces where humans can ‘be otherwise’. Together, these strands allow both the prefiguration of new social configurations, as well as the study of their transformational potential.

%h3 Stephanie Sherman
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "Stephanie.png"})"}
%p
  %a{:href => "mailto:stephanie@newspeak.house"} stephanie@newspeak.house
  •
  %a{:href => "https://stephaniesherman.info"} stephaniesherman.info
  •
  %a{:href => "https://twitter.com/detectiveyes"} @detectiveyes
%p
  Stephanie is a design director, strategist, writer, and producer working across urbanism, technology, and culture.
%p
  Her work reprograms outmoded systems as collaborative platforms, leveraging surplus, storytelling, and speculation towards strategic transitions and social technologies. She has co-founded three non-profits, collaborated with and consulted for tech companies, city governments, research groups, and civil society organisations, and produced thousands of large-scale public events and experiences across social, speculative, systems and spatial design.

%h3 Declan Pattison
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "declan.jpg"})"}
%p
  %a{:href => "mailto:declan@newspeak.house"} declan@newspeak.house
%p
  Declan is head of facilities at Newspeak House, responsible for the material components of the building and event production. He comes from a background in touring theatre, puppetry, and education. If something is leaking or on fire, let him know!

%h3 Mark Wainwright
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "mark.jpg"})"}
%p
  %a{:href => "mailto:minister.mark.wainwright@gmail.com"} minister.mark.wainwright@gmail.com
  •
  %a{:href => "https://onespiritinterfaithministers.com/mark-wainwright"} onespiritinterfaithministers.com/mark-wainwright
%p
  Mark is chaplain of Newspeak House, responsible for psycho-spiritual wellbeing of its community. He trained with the OneSpirit Interfaith Foundation, and also works in a hospital chaplaincy, providing a sensitive and non-judgemental listening presence to patients and families. He is available to talk confidentially to Newspeak House residents and fellows on pastoral or almost any other subjects.
