%h2 About

.blog
	.blog-header
		= image_tag('ed.jpg')
		%span.name Edward Saperia
		%span.title Founder, Newspeak House
		%span.date June 23rd, 2016

	.blog-content
		%p TL;DR I am trying to set up a hackspace for politics. I own a building, but I need help with running costs. It's a shop with flats above, the idea is to have activist residencies in the flats, and community space + events downstairs.
		= image_tag('techforgood.jpg')
		%p I am increasingly worried about the way that we make collective decisions as a country, and about the effectiveness of the institutions that govern public life in Britain - our government, our political parties, our newspapers, our unions, our universities, our schools. The status quo causes unnecessary suffering.
		%p These are hard, systemic problems, and ideology only gets us so far. I believe we will not fix this by getting angrier, but by getting smarter.
		= image_tag('blog2.jpg')
		%p We live in a time of unprecedented technological upheaval. Only 10% of the companies listed on the Fortune 500 in 1955 are still there today. This creative destruction brings us the innovations that surround us in our daily lives.
		%p However, the public and civic institutions that shape society change on a much slower timescale. We find ourselves surrounded by antiquated organisations whose influence we cannot escape.
		= image_tag('blog3.jpg') 
		%p I am fortunate enough to own a building in Bethnal Green, and I am proposing to use it to launch a new institution to focus on this problem. At the core of this will be a fellowship programme. From an open application process, the best technologists will be selected for 6 month residencies. They will spend that time researching and experimenting, seeking out failings in the current system that can be improved and gaps that can be filled, and help to break silos between organisations that are already working on these problems. The space will also host relevant meetups and events, where they can get input from the community and discuss their findings.
		= image_tag('blog4.jpg')
		%p 
			In fact, I quietly started doing this a year ago. In that time, I've hosted over a hundred pro-bono events and I've attracted a 
			= link_to 'motley crew of agitators', 'fellowship' 
			into the flats. However, I've been doing this on the side while running a business, which means activist events have to fit around commercial hires, the residents need day jobs to pay rent, and I can't devote my full attention to either. It could be so much more.
		%p So, I am asking for help. Now you can become a member of Newspeak House for £25 a month. With about 250 members, the fellowships can be free, and with 500 cover living costs. With about 1000, the shop can be a hub full time. Every member that joins helps us focus more on activism and less on paying the bills. There are still details to be figured out, e.g. I'd like the fellows to be chosen by the membership somehow - but these will be worked out over the next few months.
		= image_tag('blog5.jpg')
		%p 
			So if you're a political technologist who wants a hub to meet likeminded people, or just someone who believes that technology has the power to improve society, please consider 
			= link_to 'becoming a member.', 'membership'
			= link_to 'Here are some other people', 'graphs/full' 
			that have done so already.
		%p 
			Any questions, comments or offers of help, please get in touch: 
			%br/
			= link_to 'ed@nwspk.com,', 'mailto:ed@nwspk.com'
			= link_to '@edsaperia,', 'http://www.twitter.com/edsaperia' 
			=link_to 'www.facebook.com/edsaperia', 'http://www.facebook.com/edsaperia'
		= image_tag('blog6.jpg')