- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technology'}/
  %meta{property: 'og:image', content: asset_url('book-logo-black-2-sq.jpg')}/

%h2.no-topping What is Newspeak House?

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "areeq.png"})"}
  %div.profile-text
    %p.quote
      “It's a factory which produces transformational ideas, people, and action - the beating heart of the UK's technology and democracy scene”
    %p
      %a{:href => "https://areeqchowdhury.com/"}> Areeq Chowdhury
    %p
      Head of Policy at The Royal Society
      %br/
      Fellow of Newspeak House

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "mark-mullen.png"})"}
  %div.profile-text
    %p.quote
      “The first time I came to Newspeak House, I got ideas, tools, and contacts that two years later helped us deliver the highest effect ever recorded in a randomized control trial on voter turnout. I have never come across a place with a greater concentration of big new insights, practical expertise, processing power, and a focus on democracy over profit.”
    %p
      %a{:href => "https://www.turnoutnation.org/"}> Mark Mullen
    %p
      Founder of Turnout Nation
      %br/
      Member of Newspeak House

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "tom.jpg"})"}
  %div.profile-text
    %p.quote
      “Everyone in the UK who has any interest in tech mixed with politics, government, journalism or social change should spend time here ASAP”
    %p
      %a{:href => "http://tomsteinberg.co.uk/"}> Tom Steinberg
    %p
      Founder of mySociety
      %br/
      Member of Newspeak House

%p
  Newspeak House, The London College of Political Technology, is an independent residential college founded in 2015. Our mission is to study, nurture and inspire emerging communities of practice across civil society and the public sector in the UK.
%p
  Newspeak House has two core activities; it hosts a busy calendar of
  = link_to 'events', 'events'
  at its campus in central London, as well as a one year
  = link_to 'residential programme', 'residency'
  for emerging leaders in the field. Those who have graduated from the residential programme - over 80 now - become
  %a{:href => "/fellowship"}> &nbsp;Fellows&nbsp;of&nbsp;Newspeak&nbsp;House
  \, and can be found in significant positions across many prominent institutions.
%p
  If you would like to visit the college and find out more about its work, the residents host a weekly community dinner called Ration Club. To find out more or if you'd like to attend, please
  %a{:href => "https://lu.ma/RationClub"}> &thinsp;register
  \.

%h2 What is Political Technology?
%p
  Society is made up of an ecosystem of institutions, and the sum of their actions shape the world that we live in. For better or for worse, these actions are deeply influenced by the infrastructures that they choose to use - they determine what is measured, what is decided, and what can be done. What infrastructures lead to what outcomes? How are these choices made, and by whom? How can we create new technologies that lead to the social outcomes that we want?
%p
  Political Technology is the study of institutions founded with a purpose (civic, political, public sector, charitable, activist, etc), the communities that surround them, and in particular the novel digital infrastructures that they produce and deploy. This is a diverse and dynamic field that is affecting society in complex ways. To give an idea of the range and variety of projects, some examples:
%p
  %a{:href => "https://www.wikidata.org/"}> Wikidata
  ,
  %a{:href => "https://dogooder.co/"}> &thinsp;do-gooder
  ,
  %a{:href => "https://www.organise.network/"}> &thinsp;Organise
  ,
  %a{:href => "https://fullfact.org/about/automated/"}> &thinsp;FullFact&thinsp;Automated&thinsp;Fact&thinsp;Checking
  ,
  %a{:href => "https://openreferraluk.org/"}> &thinsp;Open&thinsp;Referral
  ,
  %a{:href => "https://policykit.org/"}> &thinsp;PolicyKit
  ,
  %a{:href => "https://www.globaleaks.org/"}> &thinsp;GlobaLeaks
  ,
  %a{:href => "https://oa.works/"}> &thinsp;OA.Works
  ,
  %a{:href => "https://pol.is/"}> &thinsp;Polis
  ,
  %a{:href => "https://en.wikipedia.org/wiki/Prediction_market"}> &thinsp;Prediction&thinsp;Markets
  ,
  %a{:href => "https://sci-hub.41610.org/"}> &thinsp;Sci-Hub
  ,
  %a{:href => "https://www.crowdjustice.com/"}> &thinsp;CrowdJustice
  ,
  %a{:href => "https://loomio.com/"}> &thinsp;Loomio
  ,
  %a{:href => "https://www.theyworkforyou.com/"}> &thinsp;They&thinsp;Work&thinsp;For&thinsp;You
  ,
  %a{:href => "https://alaveteli.org/"}> &thinsp;Alaveteli
  ,
  %a{:href => "https://opencollective.com/"}> &thinsp;Open&thinsp;Collective
  ,
  %a{:href => "https://quadraticvote.co/"}> &thinsp;Quadratic&thinsp;Vote
  ,
  %a{:href => "https://www.maltego.com/"}> &thinsp;Maltego
  ,
  %a{:href => "https://www.opensanctions.org/"}> &thinsp;OpenSanctions
  ,
  %a{:href => "https://ckan.org/"}> &thinsp;CKAN
  ,
  %a{:href => "https://aragon.org/"}> &thinsp;Aragon
  ,
  %a{:href => "https://www.coops.tech/"}> &thinsp;CoTech
  ,
  %a{:href => "https://www.notifications.service.gov.uk/"}> &thinsp;Notify
  ,
  %a{:href => "https://benefits-calculator.turn2us.org.uk/"}> &thinsp;Turn2us&thinsp;Benefits&thinsp;Calculator
  ,
  %a{:href => "https://data.humdata.org/"}> &thinsp;Humanitarian&thinsp;Data&thinsp;Exchange
  ,
  %a{:href => "https://charitybase.uk"}> &thinsp;CharityBase
  ,
  %a{:href => "https://www.teachingpublicservice.digital/"}> &thinsp;Teaching&thinsp;Public&thinsp;Service&thinsp;in&thinsp;the&thinsp;Digital&thinsp;Age
  ,
  %a{:href => "https://www.casmtechnology.com/"}> &thinsp;CASM
  ,
  %a{:href => "https://democracyclub.org.uk/"}> &thinsp;Democracy&thinsp;Club
  ,
  %a{:href => "https://www.threesixtygiving.org/"}> &thinsp;360Giving
  ,
  %a{:href => "https://littlesis.org/"}> &thinsp;LittleSis
  ,
  %a{:href => "https://perspectiveapi.com/"}> &thinsp;Perspective
  ,
  %a{:href => "https://whotargets.me/"}> &thinsp;Who&thinsp;Targets&thinsp;Me?
  ,
  %a{:href => "https://turkopticon.net/"}> &thinsp;Turkopticon
  ,
  %a{:href => "https://policymogul.com/"}> &thinsp;PolicyMogul
  ,
  %a{:href => "http://www.datasciencepublicpolicy.org/our-work/tools-guides/aequitas/"}> &thinsp;Aequitas
  ,
  %a{:href => "https://en.wikipedia.org/wiki/Bluesky_(protocol)"}> &thinsp;Bluesky
  ,
  %a{:href => "https://en.wikipedia.org/wiki/Self-sovereign_identity"}> &thinsp;Self-sovereign&thinsp;Identity
  ,
  %a{:href => "https://12ft.io/"}> &thinsp;12ft
  ,
  %a{:href => "https://www.overton.io/"}> &thinsp;Overton
  ,
  %a{:href => "https://coralproject.net/"}> &thinsp;Coral
  ,
  %a{:href => "https://www.kialo.com/"}> &thinsp;Kialo
  ,
  %a{:href => "https://matrix.org/"}> &thinsp;Matrix
  \.

  %p
    Newspeak House is a home for people working on or studying projects like these. By bringing these important communities together, we hope to support the growth and sophistication of this new field.
  %p
    If this sounds like you, consider&thinsp;
    %a{:href => "/residency"}> studying with us
    !
  %p
    For more examples of projects, take a look at the
    %a{:href => "https://directory.civictech.guide/"} Civic Tech Field Guide
    \.

%h2 Faculty & Staff

%h3 Edward Saperia
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "edward.jpg"})"}
%p
  %a{:href => "mailto:ed@newspeak.house"} ed@newspeak.house
  •
  %a{:href => "https://twitter.com/edsaperia"} @edsaperia
  •
  %a{:href => "https://tinyletter.com/edsaperia"} newsletter
%p
  Edward is dean of Newspeak House, responsible for setting its research direction as well as the day-to-day running of the college. His area of study is infrastructure for organising and network development, and he spends his time trying to connect up bits of civil society, or making tools to do so: chair
  %a{:href => "https://centrefordemocracy.org.uk/"}> &thinsp;Centre for Democracy
  , board member
  %a{:href => "https://www.compassonline.org.uk/"}> &thinsp;Compass
  , director
  %a{:href => "https://civicai.uk/"}> &thinsp;Civic AI Observatory
  , steward
  %a{:href => "https://docs.plus"}> &thinsp;docs.plus
  , co-author
  %a{:href => "https://www.reorganise.work/"}> &thinsp;Reorganise
  , co-founder
  %a{:href => "https://data-collective.org.uk/"}> &thinsp;Data Collective
  , co-founder
  %a{:href => "https://www.techforgoodorganisers.uk/"}> &thinsp;Tech for Good Organisers Network
  , founder Environmental Permit Data Service (coming soon!)

%h3 Matt Stempeck
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "matt-stempeck.png"})"}
%p
  %a{:href => "mailto:matt@civictech.guide"} matt@civictech.guide
  •
  %a{:href => "https://mattstempeck.com"} mattstempeck.com
%p
  Matt Stempeck is the librarian of Newspeak House. He curates the
  %a{:href => "https://directory.civictech.guide/"} &nbsp;Civic Tech Field Guide
  , the most comprehensive collection of democracy tech projects anywhere. He helps the college learn what's worked, what hasn't, and how not to be the latter, and also help initiatives to connect into related work being done across the field.
%p
  Matt's professional background includes stints as Microsoft's Director of Civic Technology, Hillary Clinton's Director of Digital Mobilization, and MIT Media Lab's Center for Civic Media's  leftover-catering-consuming Master's student. He's based in Lisbon, Portugal, and will panel for travel.

%h3.profile-title Dr Zarinah Agnew
%div.profile-subtitle
  Lecturer in Collective Behaviour
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "Zarinah-Colour.png"})"}
%p
  %a{:href => "mailto:zarinah@newspeak.house"} zarinah@newspeak.house
  •
  %a{:href => "http://www.zarinahagnew.com"} zarinahagnew.com
  •
  %a{:href => "https://twitter.com/zarinahagnew"} @zarinahagnew
%p
  Zarinah is a neuroscientist by training. After spending over a decade in academia, they left to study the science of groups of brains - that is, humans in collectivity.
%p
  Alongside their work with the college, Zarinah runs three nonprofits aimed at experimental aspects of society, collective transformation and para-institutions. The
  %a{:href => "https://www.socialobservatory.space"} Social Science Observatory
  is dedicated to the study of social science in the wild,
  %a{:href => "https://www.alternativejustices.com/"} Alternative Justices
  works towards abolitionist community-based harm prevention and response, and
  %a{:href => "https://www.districtcommons.org/"} District Commons
  engineers experimental spaces where humans can ‘be otherwise’. Together, these strands allow both the prefiguration of new social configurations, as well as the study of their transformational potential.

%h3.profile-title Dr Joshua Becker
%div.profile-subtitle
  Lecturer in Collective Intelligence
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "joshua-becker.jpg"})"}
%p
  Joshua Becker is an Assistant Professor at the UCL School of Management with 15 years experience as a practising mediator. Joshua researches collective intelligence with an emphasis on group decision-making and their teaching at UCL includes a module on Negotiation and a module on Technology and Collective Intelligence. Their research has been published in outlets including Science, Management Science, and Harvard Business Review. Joshua received a PhD in Communication from the University in Pennsylvania and completed a postdoctoral fellowship with the Kellogg School of Management.
%p
  Prior to graduate school, they worked professionally in mediation and communication training and has completed hundreds of mediation sessions including personal disputes, employer/employee conflict, and decision facilitation. Joshua also has deep experience in community building and currently serves on the board of trustees for Sunday Assembly London. In 2023, Joshua was ranked among the "Best 40 Under 40 Business School Professors" by popular MBA blog Poets & Quants.

%h3.profile-title Theodore Keloglou
%div.profile-subtitle
  Lecturer in Open Source
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "theo.jpg"})"}
%p
  %a{:href => "mailto:zf@sirodoht.com"} zf@sirodoht.com
  •
  %a{:href => "https://nutcroft.com/"} nutcroft.com
  •
  %a{:href => "https://github.com/sirodoht"} @sirodoht
%p
  Theodore Keloglou has ten years of professional experience in building
  software, mostly in startups and small companies, across different industries.
  He is interested in how people can use technology to govern themselves,
  organise society, and distribute power in a fair way. He convenes
  %a{:href => "https://chaitinschool.org/"}> &nbsp;Chaitin School
  , a software engineering community in London, England. He has built
  %a{:href => "https://mataroa.blog/"}> &nbsp;mataroa.blog
  , a privacy-first blogging platform, started
  %a{:href => "https://laniakeabooks.org/"}> &nbsp;Laniakea Books
  , a public domain publishing house, and works at
  %a{:href => "https://animorph.coop/"}> &nbsp;Animorph Co-op
  , a company making software for medical devices. He has written
  %a{:href => "https://laniakeabooks.org/books/letters-from-prison/"}> &nbsp;“Letters from Prison”
  , a book on societal freedom. He blogs at
  %a{:href => "https://nutcroft.com/"}> &nbsp;nutcroft.com
  \.

%h3.profile-title James Moulding
%div.profile-subtitle
  Lecturer in Network Development
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "james-moulding.png"})"}
%p
  James Moulding is the Lecturer in Network Development at Newspeak House, he is also a former resident and Fellow of the 2016-2017 cohort. James is a network thinker, political campaigner and simulation and serious game designer.
%p
  James is the Network Development Lead on Involve’s 
  %a{:href => "https://democracynetwork.org.uk/"}> &nbsp;UK Democracy Network
  , prior to which he was the Director of the
  %a{:href => "https://centrefordemocracy.org.uk/"}> &nbsp;Centre for Democracy
  , where he has been working to enhance the capacity of organisations and individuals across the UK democracy sector and increasing the strength and quality of connection between them.
%p
  James has enjoyed an eclectic career working across a range of different roles associated with technology, community development and political campaigning. He began his career developing a community of technologists working with real-time sensor open data, before co-founding award-winning air quality non-profit AirPublic. He went on to work with political fundraising startup Crowdpac, before launching the 2017 viral mobile game Corbyn Run and co-founding the pioneering UK Labour Party affiliated game development studio Games for the Many.
%p
  His other roles have included as co-founder of Campaign Lab, co-founder of Common Knowledge and as a National Coordinator of Extinction Rebellion.

%h3.profile-title Hannah O’Rourke
%div.profile-subtitle
  Lecturer in Political Organising
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "hannah.jpg"})"}
%p
  %a{:href => "https://twitter.com/Hannah_O_Rourke/"} @Hannah_O_Rourke
%p
  Hannah is a bridge builder and network maker, passionate about making politics
  more open, collaborative, and focused on the future. She has worked in
  political organising, coalition management and campaigning for over 10 years.
%p
  She is the co-founder of
  %a{:href => "https://www.campaignlab.uk/"}> &nbsp;Campaign Lab
  , a community of technologists who
  research, test and embed new tools and new practices in political campaigns.
  She is co-author of the book
  %a{:href => "http://www.reorganise.work/"}> &nbsp;Reorganise: 15 Stories of Workers fighting back in a digital age
  \. She is an advisor to the
  %a{:href => "https://civicai.uk/"}> &nbsp;Civic AI Observatory
  , and also an
  %a{:href => "https://www.linkedin.com/pulse/ai-decide-next-election-sam-lockwood"}> &nbsp;emerging AI and campaigning network
  in Brussels focused on the EU wide
  elections. She was formerly the director of Labour Together and convened the
  2019
  %a{:href => "https://electionreview.labourtogether.uk/"}> &nbsp;Labour Election Review
  \.

%h3.profile-title Dr Six Silberman
%div.profile-subtitle
  Lecturer in Socio-Technical Systems
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "six.jpg"})"}
%p
  M. Six Silberman is the Lecturer in Sociotechnical Systems at Newspeak House.
  Silberman also works as a postdoctoral researcher at the University of Oxford,
  studying the regulation of algorithmic management in the
  %a{:href => "https://www.law.ox.ac.uk/imanage-rethinking-employment-law-for-a-world-of/imanage-rethinking-employment-law-world"} &nbsp;‘iManage’ Project
  with colleagues Sangh Rakshita, Dr Halefom Abraha, and Principal Investigator
  Jeremias Adams-Prassl.
%p
  Between 2008 and 2020 Silberman was lead developer of Turkopticon, a web
  application used by ‘clickworkers’ on Amazon’s Mechanical Turk platform.
  Between 2015 and 2020 Silberman worked at IG Metall, the trade union in the
  German manufacturing sector, on worker rights in digital labour platforms.
  Between 2020 and 2022 Silberman worked as a software engineer at Organise, a
  London-based social enterprise aiming to give people the tools, networks, and
  confidence to win positive change at work. Silberman publishes peer-reviewed
  research on data protection, worker rights, and environmental sustainability
  and information technology.

%h3.profile-title Mustafa Warsi
%div.profile-subtitle
  Lecturer in Mechanism Design
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "mustafa-crop.png"})"}
%p
  Mustafa Warsi is the Lecturer in Mechanism Design at Newspeak House. Warsi is a global macro researcher/trader at Marshall Wace Asset Management LLC trading commodities, interest rates and global equities. Previously, Warsi worked in quantitative macro investment solutions at JP Morgan, before which he worked on a Power Trading desk at DE Shaw and Co.
%p
  Warsi studied Pure Mathematics (BA + MMath) at the University of Cambridge with a focus on Algebra. Warsi also co-runs a charity in India to provide scholarships for girls from lower-caste communities.

%h3 Sam Ballard
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "sam2.jpg"})"}
%p
  %a{:href => "https://twitter.com/baronblackmore"} @baronblackmore
  •
  %a{:href => "https://sunlightafterdark.com"} sunlightafterdark.com
%p
  Sam Ballard has two roles at Newspeak House. He is lecturer in game design, and also artist in residence. Sam has been designing digital experiences for over a decade, with an emphasis on user orientated design thinking methodologies to solve both creative challenges & system design. He is currently a designer at ZA/UM, the studio behind Disco Elysium.

%h3 Declan Pattison
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "declan.jpg"})"}
%p
  %a{:href => "mailto:declan@newspeak.house"} declan@newspeak.house
%p
  Declan is head of facilities at Newspeak House, responsible for the material components of the building and event production. He comes from a background in touring theatre, puppetry, and education. If something is leaking or on fire, let him know!

%h3 Mark Wainwright
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "mark.jpg"})"}
%p
  %a{:href => "mailto:minister.mark.wainwright@gmail.com"} minister.mark.wainwright@gmail.com
  •
  %a{:href => "https://onespiritinterfaithministers.com/mark-wainwright"} onespiritinterfaithministers.com/mark-wainwright
%p
  Mark is chaplain of Newspeak House, responsible for psycho-spiritual wellbeing of its community. He trained with the OneSpirit Interfaith Foundation, and also works in a hospital chaplaincy, providing a sensitive and non-judgemental listening presence to patients and families. He is available to talk confidentially to Newspeak House residents and fellows on pastoral or almost any other subjects.
