%p.lead.space Address

%address
  .bold Newspeak House
  133 Bethnal Green Road
  %br/
  London, England, E2 7DG

%p.lead.space Contact

.contact
  .bold Founder
  Edward Saperia
  %br/
  = link_to 'ed@nwspk.com', 'mailto:ed@nwspk.com', target: '_blank'
-#edsaperia Facebook LinkedIn

%p.lead.space Hire

%p
  = "Newspeak House is available for hire. [ #{link_to 'brochure', 'http://www.topofficemachines.com', target: '_blank'} ]".html_safe
  %br/
  For enquiries please contact:
  %br/
  .bold Programme Assistant
  Aisha Brady
  %br/
  = link_to 'aisha@nwspk.com', 'mailto:aisha@nwspk.com', target: '_blank'

.singleline.extraspace

.footer 
  = link_to image_tag('mono.png'), root_path
