- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technology'}/
  %meta{property: 'og:image', content: asset_url('book-logo-black-2-sq.jpg')}/

%h2.no-topping
  Introduction to Political Technology
  %br
  2023-2024
  %br
  Course Handbook
%p
  A one year course for anyone who believes in technology as an important cause of social change. Participants will have the opportunity to observe and experiment with real-world emerging practices in organising and governance.
%p
  At Newspeak House we approach education in an agile way, tailoring activities to the needs and interest of the students, as well as adapting to events in the world as they unfold. Therefore this handbook is a constant work in progress, starting as just an outline with new material and activities added as the course progresses.

%h3 Orientation
%p 
  Please mark the weekend of Saturday 30th September & Sunday 1st October on your calendar. These dates are reserved for orientation and introductory sessions, providing a chance to meet your fellow students and faculty and get an overview of the course this year.

%h2 Core Modules
%p Core modules are mandatory activities that all students participate in throughout the year, and are taught in collaboration by the entire faculty.

%h3 Self Governance
%p Students learn to organise themselves to live together and act as a student body. Students have the chance to experiment with and experience different forms of governance, and develop original systems for decision-making, policy development, resource allocation, and conflict resolution.

%h3 Fieldwork
%p Students will engage with a broad variety of emerging civic communities of practice and understanding how they work. Students will also familiarise themselves with the landscape of political technologies through exploring the library and undertaking a grantmaking exercise.

%h3 Fellowship Thesis
%p The culmination of the year’s work as students produce an original contribution to the field of political technology, both to demonstrate their sophisticated understanding of the field and to have a lasting real world impact.


%h2 Advanced Modules
%p Advanced modules, lead by a single faculty member, focus on more specific skills and understanding.

%h3 Sociotechnical Systems
%div.profile-subtitle
  Dr Six Silberman
%p
  %strong How the ‘technical’ and the ‘nontechnical’ shape each other
%p
  ‘Technical’ things like train cars, computer systems, power plants, and standards are shaped by ‘nontechnical’ things like laws, politics, business models, organisational culture, and the psychology of user groups and influential individuals. ‘Nontechnical’ things can in turn be (re-)shaped by new possibilities — or constraints — afforded by technical systems.
%p
  This module has no fixed curriculum. It aims to support Fellows’ projects and other ongoing work by serving as a place to discuss the interplay between the apparently ‘technical’ and the apparently ‘nontechnical.’ We will work out concrete ways in which to do this as we go along. This could include going to external events, formal presentations, informal discussions, reading, empirical research, system building, or other (joint or individual) activities, as best support Fellows’ ongoing work.
%p
  Silberman has previously worked as a programmer in nonprofits and social enterprises and as a trade union official, and now works in a law school studying technology policy. Silberman’s practical experiences and some familiarity with literatures in human-computer interaction, sociology of technology, and technology policy will support our discussions. It is expected that Fellows also have diverse experiences and backgrounds. Fellows will be expected to bring these experiences into our discussions to reflect on, understand, and support one another’s ongoing work.

%a.section-link{:href => "https://docs.google.com/document/d/1CSgti4j7-ml1lpq1aQBUZ_etmVAUM96n-YLffQIkCeY"} Module Guide

%h3 Decision-making
%div.profile-subtitle
  Dr Joshua Becker
%p
  There is no such thing as an independent individual: everything you do and know and think is shaped by other people.
%p
  This module will develop a sociophysics-based framework for understanding and engineering decision-making in teams, organizations, and networks. A core component of this module will be experiential learning activities that engage you directly in real and simulated decisions. Each activity will be linked to a formal computational model of decision-making that explains macro-level outcomes as a result of individual agent behavior. This module will present a practical survey of the emerging field of collective intelligence with a focus on technology-enabled solutions for optimizing decisions.

%a.section-link{:href => "https://docs.google.com/document/d/1q4ZASR9F4mePwsiEOBpGFaPgJx6HZmvdlYjIpzgQBnI/edit?usp=sharing"} Module Guide

%h3 Mechanism Design
%div.profile-subtitle
  Mustafa Warsi
%p
  If game theory is the study of optimal decision-making by agents given a set of resources, utilities, and constraints, [i.e. given a decision architecture, how should agents behave?] then mechanism design is the study of the inverse problem, namely, given a set of desirable behaviours, how do we design a decision architecture so that agents playing this game converge to the desired behaviour?
%p
  i.e if microeconomics is the science of predicting the behaviour of optimising agents, then mechanism design is an attempt to engineer that behaviour.
%p
  We will first specify motivating cases, then lay out the theoretical foundations of the field in the abstract, go through some results, and then see what they can teach us about those case studies.

%h3 Political Organising
%div.profile-subtitle
  Hannah O’Rourke
%p
  As technology reshapes the political landscape, traditional wisdom in political strategy is being upended. This offers huge opportunities for campaigners and political institutions, but also challenges.
%p
  In this module, you will learn about the current state of political campaigning and organising in the UK and explore how this is being changed by technology. It is designed to support students to develop and operationalise their own political strategies for the causes they care about.
%p
  How can you make change actually happen? What pressure points can you target? This module will teach you how to navigate the realpolitik of the political system and how to make lasting systemic political change. 
%p
  Alongside this, students will learn about theoretical cutting edge of technology in organising. How do you run a decentralised campaign effectively using the platforms available? What tools are best for organising in your own campaigns? 

%a.section-link{:href => "https://docs.google.com/document/d/1fLhf5_s3K3dlFvbii12gUBKdsgJyueKg6cLideKDV1g"} Module Guide

%h3 Open Source
%div.profile-subtitle
  Theodore Keloglou
%p
  Open Source is not just open source. One can claim it’s also a movement, but it’s even more than that. It’s a fresh mode of production. It’s Kojin Karatani’s mode of exchange D. It’s anarchism’s direct action. It’s real world gift economy. It might even be a paradigm-shifting spark for the next phase of humanity’s economic substratum. Let’s make it so.
%p
  This module’s content is real world open source contribution. We will gather for a few hours every two Mondays and try to have a useful and meaningful impact (large or small) to an open source project (ours or someone else’s).

%a.section-link{:href => "https://docs.google.com/document/d/1P0RQszynNETbcX3HYoRMY171UTrf9_vO72glvh1mCR0"} Module Guide

%h3 Network Development
%div.profile-subtitle
  James Moulding
%p
  Networks surround us, support us and breathe through us. When people think of networking, they may think of handing out business cards at a conference, selling themselves to the crowd - selling themselves. But they can be so much more.
%p
  In this module we’ll explore network development as building community, as developing the spatial awareness of social interactions, helping disparate and disconnected groups to get to know each other so they can work together.
%p
  Together, we will work to understand the building blocks of networks and a key set of practices that can enable you to better understand and weave community interaction wherever you are, including network mapping, asynchronous events, handbook practices, seeing as a network, communication channels and network leadership behaviours.

%h3 Game Design
%div.profile-subtitle
  Edward Saperia
%p
  Games are systems carefully designed to evoke specific emotions in their participants. Political regimes in the real world are in fact also such systems, albeit for different ends. What can the craft of game design teach us that is applicable to designing policy? In this module, you’ll learn some game design theory from the commercial games industry, and also get hands-on experience of making game-design decisions.

%a.section-link{:href => "https://docs.google.com/document/d/1r_jDzKPKMoAFdgvqtV76gPtZSRIO8dUNkKYNcLKiljw"} Module Guide

%h3 Future Crafting
%div.profile-subtitle
  Zarinah Agnew
%p
  In this module, we tackle issues of prediction, risk management and forecasting and how these tactics influence the future. There is a difference between predicting what is likely given where we are now and the current conditions, compared to creating possibility. All too often futurism conflates these two. Worse perhaps is our collective confusion about the difference between risk and uncertainty. Here we introduce the concepts of future-crafting and hyperstition, and discuss how these approaches might open up imaginary space in the future.

%a.section-link{:href => "https://docs.google.com/document/d/1FW49TaHQRMa7b0BydWcAoEY4X3y14XdL4UlrCe4Fh90"} Module Guide

%h2 Faculty

%h3 Edward Saperia
%div.profile-subtitle
  Dean of Newspeak House
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "edward.jpg"})"}
%p
  %a{:href => "mailto:ed@newspeak.house"} ed@newspeak.house
  •
  %a{:href => "https://twitter.com/edsaperia"} @edsaperia
  •
  %a{:href => "https://tinyletter.com/edsaperia"} newsletter
%p
  Edward is the dean of Newspeak House, responsible for setting its research direction as well as the day-to-day running of the college. His area of study is infrastructure for organising and network development, and he spends his time trying to connect up bits of civil society, or making tools to do so: chair
  %a{:href => "https://centrefordemocracy.org.uk/"}> &thinsp;Centre for Democracy
  , board member
  %a{:href => "https://www.compassonline.org.uk/"}> &thinsp;Compass
  , director
  %a{:href => "https://civicai.uk/"}> &thinsp;Civic AI Observatory
  , steward
  %a{:href => "https://docs.plus"}> &thinsp;docs.plus
  , co-author
  %a{:href => "https://www.reorganise.work/"}> &thinsp;Reorganise
  , co-founder
  %a{:href => "https://data-collective.org.uk/"}> &thinsp;Data Collective
  , co-founder
  %a{:href => "https://www.techforgoodorganisers.uk/"}> &thinsp;Tech for Good Organisers Network
  , founder Environmental Permit Data Service (coming soon!)

%h3 Matt Stempeck
%div.profile-subtitle
  Librarian of Newspeak House
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "matt-stempeck.png"})"}
%p
  %a{:href => "mailto:matt@civictech.guide"} matt@civictech.guide
  •
  %a{:href => "https://mattstempeck.com"} mattstempeck.com
%p
  Matt Stempeck is the librarian of Newspeak House. He curates the
  %a{:href => "https://directory.civictech.guide/"} &nbsp;Civic Tech Field Guide
  , the most comprehensive collection of democracy tech projects anywhere. He helps the college learn what's worked, what hasn't, and how not to be the latter, and also help initiatives to connect into related work being done across the field.
%p
  Matt's professional background includes stints as Microsoft's Director of Civic Technology, Hillary Clinton's Director of Digital Mobilization, and MIT Media Lab's Center for Civic Media's  leftover-catering-consuming Master's student. He's based in Lisbon, Portugal, and will panel for travel.

%h3.profile-title Dr Zarinah Agnew
%div.profile-subtitle
  Lecturer in Collective Behaviour
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "Zarinah-Colour.png"})"}
%p
  %a{:href => "mailto:zarinah@newspeak.house"} zarinah@newspeak.house
  •
  %a{:href => "http://www.zarinahagnew.com"} zarinahagnew.com
  •
  %a{:href => "https://twitter.com/zarinahagnew"} @zarinahagnew
%p
  Zarinah is a neuroscientist by training. After spending over a decade in academia, they left to study the science of groups of brains - that is, humans in collectivity.
%p
  Alongside their work with the college, Zarinah runs three nonprofits aimed at experimental aspects of society, collective transformation and para-institutions. The
  %a{:href => "https://www.socialobservatory.space"} Social Science Observatory
  is dedicated to the study of social science in the wild,
  %a{:href => "https://www.alternativejustices.com/"} Alternative Justices
  works towards abolitionist community-based harm prevention and response, and
  %a{:href => "https://www.districtcommons.org/"} District Commons
  engineers experimental spaces where humans can ‘be otherwise’. Together, these strands allow both the prefiguration of new social configurations, as well as the study of their transformational potential.

%h3.profile-title Dr Joshua Becker
%div.profile-subtitle
  Lecturer in Collective Intelligence
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "joshua-becker.jpg"})"}
%p
  Joshua Becker is an Assistant Professor at the UCL School of Management with 15 years experience as a practising mediator. Joshua researches collective intelligence with an emphasis on group decision-making and their teaching at UCL includes a module on Negotiation and a module on Technology and Collective Intelligence. Their research has been published in outlets including Science, Management Science, and Harvard Business Review. Joshua received a PhD in Communication from the University in Pennsylvania and completed a postdoctoral fellowship with the Kellogg School of Management.
%p
  Prior to graduate school, they worked professionally in mediation and communication training and has completed hundreds of mediation sessions including personal disputes, employer/employee conflict, and decision facilitation. Joshua also has deep experience in community building and currently serves on the board of trustees for Sunday Assembly London. In 2023, Joshua was ranked among the "Best 40 Under 40 Business School Professors" by popular MBA blog Poets & Quants.

%h3.profile-title Theodore Keloglou
%div.profile-subtitle
  Lecturer in Open Source
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "theo.jpg"})"}
%p
  %a{:href => "mailto:zf@sirodoht.com"} zf@sirodoht.com
  •
  %a{:href => "https://nutcroft.com/"} nutcroft.com
  •
  %a{:href => "https://github.com/sirodoht"} @sirodoht
%p
  Theodore Keloglou has ten years of professional experience in building
  software, mostly in startups and small companies, across different industries.
  He is interested in how people can use technology to govern themselves,
  organise society, and distribute power in a fair way. He convenes
  %a{:href => "https://chaitinschool.org/"}> &nbsp;Chaitin School
  , a software engineering community in London, England. He has built
  %a{:href => "https://mataroa.blog/"}> &nbsp;mataroa.blog
  , a privacy-first blogging platform, started
  %a{:href => "https://laniakeabooks.org/"}> &nbsp;Laniakea Books
  , a public domain publishing house, and works at
  %a{:href => "https://animorph.coop/"}> &nbsp;Animorph Co-op
  , a company making software for medical devices. He has written
  %a{:href => "https://laniakeabooks.org/books/letters-from-prison/"}> &nbsp;“Letters from Prison”
  , a book on societal freedom. He blogs at
  %a{:href => "https://nutcroft.com/"}> &nbsp;nutcroft.com
  \.

%h3.profile-title James Moulding
%div.profile-subtitle
  Lecturer in Network Development
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "james-moulding.png"})"}
%p
  James Moulding is the Lecturer in Network Development at Newspeak House, he is also a former resident and Fellow of the 2016-2017 cohort. James is a network thinker, political campaigner and simulation and serious game designer.
%p
  James is the Network Development Lead on Involve’s 
  %a{:href => "https://democracynetwork.org.uk/"}> &nbsp;UK Democracy Network
  , prior to which he was the Director of the
  %a{:href => "https://centrefordemocracy.org.uk/"}> &nbsp;Centre for Democracy
  , where he has been working to enhance the capacity of organisations and individuals across the UK democracy sector and increasing the strength and quality of connection between them.
%p
  James has enjoyed an eclectic career working across a range of different roles associated with technology, community development and political campaigning. He began his career developing a community of technologists working with real-time sensor open data, before co-founding award-winning air quality non-profit AirPublic. He went on to work with political fundraising startup Crowdpac, before launching the 2017 viral mobile game Corbyn Run and co-founding the pioneering UK Labour Party affiliated game development studio Games for the Many.
%p
  His other roles have included as co-founder of Campaign Lab, co-founder of Common Knowledge and as a National Coordinator of Extinction Rebellion.

%h3.profile-title Hannah O’Rourke
%div.profile-subtitle
  Lecturer in Political Organising
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "hannah.jpg"})"}
%p
  %a{:href => "https://twitter.com/Hannah_O_Rourke/"} @Hannah_O_Rourke
%p
  Hannah is a bridge builder and network maker, passionate about making politics
  more open, collaborative, and focused on the future. She has worked in
  political organising, coalition management and campaigning for over 10 years.
%p
  She is the co-founder of
  %a{:href => "https://www.campaignlab.uk/"}> &nbsp;Campaign Lab
  , a community of technologists who
  research, test and embed new tools and new practices in political campaigns.
  She is co-author of the book
  %a{:href => "http://www.reorganise.work/"}> &nbsp;Reorganise: 15 Stories of Workers fighting back in a digital age
  \. She is an advisor to the
  %a{:href => "https://civicai.uk/"}> &nbsp;Civic AI Observatory
  , and also an
  %a{:href => "https://www.linkedin.com/pulse/ai-decide-next-election-sam-lockwood"}> &nbsp;emerging AI and campaigning network
  in Brussels focused on the EU wide
  elections. She was formerly the director of Labour Together and convened the
  2019
  %a{:href => "https://electionreview.labourtogether.uk/"}> &nbsp;Labour Election Review
  \.

%h3.profile-title Dr Six Silberman
%div.profile-subtitle
  Lecturer in Socio-Technical Systems
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "six.jpg"})"}
%p
  M. Six Silberman is the Lecturer in Sociotechnical Systems at Newspeak House.
  Silberman also works as a postdoctoral researcher at the University of Oxford,
  studying the regulation of algorithmic management in the
  %a{:href => "https://www.law.ox.ac.uk/imanage-rethinking-employment-law-for-a-world-of/imanage-rethinking-employment-law-world"} &nbsp;‘iManage’ Project
  with colleagues Sangh Rakshita, Dr Halefom Abraha, and Principal Investigator
  Jeremias Adams-Prassl.
%p
  Between 2008 and 2020 Silberman was lead developer of Turkopticon, a web
  application used by ‘clickworkers’ on Amazon’s Mechanical Turk platform.
  Between 2015 and 2020 Silberman worked at IG Metall, the trade union in the
  German manufacturing sector, on worker rights in digital labour platforms.
  Between 2020 and 2022 Silberman worked as a software engineer at Organise, a
  London-based social enterprise aiming to give people the tools, networks, and
  confidence to win positive change at work. Silberman publishes peer-reviewed
  research on data protection, worker rights, and environmental sustainability
  and information technology.

%h3.profile-title Mustafa Warsi
%div.profile-subtitle
  Lecturer in Mechanism Design
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "mustafa-crop.png"})"}
%p
  Mustafa Warsi is the Lecturer in Mechanism Design at Newspeak House. Warsi is a global macro researcher/trader at Marshall Wace Asset Management LLC trading commodities, interest rates and global equities. Previously, Warsi worked in quantitative macro investment solutions at JP Morgan, before which he worked on a Power Trading desk at DE Shaw and Co.
%p
  Warsi studied Pure Mathematics (BA + MMath) at the University of Cambridge with a focus on Algebra. Warsi also co-runs a charity in India to provide scholarships for girls from lower-caste communities.

