.home
  = render partial: 'house'
  = render partial: 'intro'
  = render partial: 'events'
  = render partial: 'fellows'
  = render partial: 'membership'
  = render partial: 'members'
  = render partial: 'contact'
  = render partial: 'quotes'