%section.house.center-block
  =image_tag('house.png')
  %a.top-right-link.glyphicon.glyphicon-chevron-right{:href => root_path}
  %a.top-left-link{:href => new_user_session_path} SIGN IN
%section.intro
  .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h4 Newspeak House is an events venue, community space and residential incubator in East London founded to foster innovation in politics, government and political media.
%a#events
%section.flip.events
  .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h2 Events
    %ul
      - @events.each do |event|
        %li
          .event-date
            %span.event-date-day= event.start_at.strftime('%d')
            %span.event-date-month= event.start_at.strftime('%^b')
          .event-details
            %span.event-title
              = event.name
            %span.event-location
              = event.location
            %span.event-description
              = event.description
          %span.event-link
            %a.glyphicon.glyphicon-chevron-right{:href => event_path(event)}
  %a.side-link{:href => events_path} »
%section.members.no-bottom-padding
  .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h2 Recent Members
    %ul
      - @members.each do |member|
        %li
          %img.member-image{:src => profile_image_url(member)}
          .member-details
            %span.member-title
              = member.name
            %span.member-description
              = member.showcase_text
            %span.member-links
              %a{:href => member.twitter.try(:profile_url)} Follow #{member.name} on Twitter
.break
%section.membership.no-top-padding
  .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h2 Membership
    %p
      More Members = better events and facilities
    .progress
      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => @goal_percent, :role => "progressbar", :style => "width: #{@goal_percent}%;"}
    .progress-details
      .progress-left
        %span.membership-progress-upper
          = "#{@goal_percent}%"
        %span.membership-progress-lower
          independent
      .progress-center
        %span.membership-progress-upper
          = @total_pledged.format
        %span.membership-progress-lower
          pledged
      .progress-right
        %span.membership-progress-upper
          = @total_members
        %span.membership-progress-lower
          members
  %a.side-link{:href => new_user_registration_path} »
%section.flip.fellows
  .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h2 Fellows
    .row
      - @fellows.each do |fellow|
        .col-xs-6.col-md-3
          %a.thumbnail{:href => "#"}
            %img{:src => profile_image_url(fellow)}
          %span.fellow-name
            = fellow.name
          %span.fellow-description
            = fellow.showcase_text
          %span.fellow-link
            %a{:href => "fellows"} Follow
%section
  .contact.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h2 Visit Newspeak house
    133-135 Bethnal Green Road,
    Shoreditch,
    London E2 7DG
    %h2 Hire Newspeak house
    Newspeak House is available for hire. For enquiries please contact: Aisha Brady, Programme Assistant aisha@nwspk.com
    %a{:href => ""} Brochure
  %a.side-link{:href => "https://goo.gl/maps/Z8Sa4T6sb3n"} »
%section.flip.no-padding
  .quotes.col-md-12
    #quoteCarousel.carousel.slide{"data-ride" => "carousel"}
      .carousel-inner.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1{:role => "listbox"}
        .item.active
          "Everyone in the UK who has any interest in tech mixed with politics, government, journalism or social change should spend time at Newspeak House ASAP" - Tom Steinberg, Founder of MySociety
        .item
          "For better or for worse, technology shapes society, but we can - and must - influence the path it takes. Newspeak House is the place to tackle this head on." - Rufus Pollock, Founder of Open Knowledge
        .item
          "As we shuffle towards a dystopian future, Newspeak House dares to offer a space where we can consider alternative visions." - Bill Thompson, Tech Journalist
      %a.left.carousel-control{"data-slide" => "prev", :href => "#quoteCarousel", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#quoteCarousel", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next
%footer
