- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technology'}/
  %meta{property: 'og:image', content: asset_url('book-logo-black-2-sq.jpg')}/

%h2 Hello World
%div.wide-pic{:style => "background-image: url(#{image_path "door.jpg"})"}
%p
  Newspeak House is an independent residential college founded in 2015 to study, nurture and inspire emerging communities of practice across civil society and the public sector in the UK.
%p
  %a.section-link{:href => "/about"} About

%h2 Introducing the 2025-26 Cohort
= image_tag('2025-cohort.jpg')
%p
  Newspeak House is proud to introduce the 2025-26 cohort of fellowship candidates. This year’s group brings experience across political organising, public policy, AI governance, civic and open-source technology, journalism, campaigning, service design, and data science.
%p
  Coming from across Europe, the Middle East, and North America, they have worked inside governments and international institutions, built tools for movements and communities, founded startups and parties, and shipped public-interest infrastructure.
%p
  We are excited to welcome them to the fellowship and see what they discover and create together this year! To find out more about them and their plans for the year:
  %a{:href => "https://2025.newspeak.house"}> 2025.newspeak.house
%p
  To find out more about the programme itself:
  %a{:href => "https://newspeak.house/study-with-us"}> Introduction to Political Technology

%h2 Events
= image_tag('Empty Space (front).jpg')
%p
  As part of our research we offer our spaces for civic communities of practice to convene. Since opening in 2015 we have hosted thousands of events, including lectures, meetups, hackathons, conferences, unconferences, workshops, roundtables, screenings, fundraisers, launches, and exhibitions.
%p
  %strong
    Subscribe to our calendar via
    %a{:href => "webcal://newspeak.house/api/events.ics"} iCal
    or
    %a{:href => "https://calendar.google.com/calendar/u/0/embed?src=e9qmehb3p5utecd493ucgjq37od2g5rv@import.calendar.google.com"} gCal
%p
  If you’d like to host an event in our space, you can
  %a{:href => "https://www.appearhere.co.uk/spaces/london/shoreditch/shoreditch-large-retail-space"}> &nbsp;hire it outright
  , or if you’re convening a civic community of practice do get in touch (
  %a{:href => "mailto:contact@newspeak.house"}> contact@newspeak.house
  ) to see if it could fit into our programme.


%h3#events What's On
%div.wide-pic{:style => "background-image: url(#{image_path "techforgood.jpg"})"}
.events-toc
  %ul
    %li
      %a{:href => "#event-ration-club"}
        %span.toc-event-details Wednesdays • 7:00pm – 10:00pm • Lounge
        %span.toc-event-title Ration Club
    - @events.each do |event|
      %li
        %a{:href => "#event-#{event.id}"}
          %span.toc-event-details= event.formatted_date_details
          %span.toc-event-title= event.name

%h3 Event Details
.event{ id: "event-ration-club" }
  %a.event-title{:href => "https://forms.gle/T3rXorsrb4gXKazv9"} Ration Club
  %br/
  %div.event-details Wednesdays • 7:00pm – 10:00pm • Lounge
  %br/
  %a.event-host{:href => "https://bit.ly/edsaperia"} Edward Saperia
  %p Each week the college hosts a community dinner called Ration Club. It's open to anyone who'd like to find out more about the college and its work. To find out more or if you'd like to attend, please register.
  %p The last ration club of 2025 will take place on December 17th. It will resume in 2026 on January 7th.
  %a.section-link{:href => "https://forms.gle/T3rXorsrb4gXKazv9"} Register ↗

- @events.each do |event|
  = render partial: 'events/row', locals: { event: event }

%p
  %a.section-link{:href => "/events"} Event Archive
