%p.lead.space Benefits of Membership

%ul
  %li= "Financially support the incubation of society-changing #{link_to 'projects', 'fellowship'}.".html_safe 
  %li= "#{link_to 'Have a say', 'http://www.reddit.com/r/nwspk'} in which projects receive incubation.".html_safe 
  %li= "#{link_to 'Get access', 'https://hackpad.com/Newspeak-House-Events-Calendar-uNKMeHocJE9'} to a space in East London dedicated to fixing society.".html_safe

%p.lead.extraspace Pricing

%p Membership is charged by monthly subscription. There is a one off joining fee of £50.

%p 
  %span.bold Maven discount: 
  for each member you connect to on Twitter or Facebook, your membership is discounted by £1 / yr.

%table.table.table-border
  %thead
    %tr
      %th Tier
      %th Price / yr
      %th Contribution
  %tbody
    %tr
      %td Unperson
      %td £300
      %td 10% goes directly to projects
    %tr
      %td Proletariat
      %td £600
      %td 20% goes directly to projects
    %tr
      %td Outer Party
      %td £900
      %td 30% goes directly to projects
    %tr
      %td Inner Party
      %td £1200
      %td 40% goes directly to projects
    %tr
      %td Thought Police
      %td £1500
      %td 50% goes directly to projects

.singleline.extraspace

.footer 
  = link_to image_tag('mono.png'), root_path