- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technology'}/
  %meta{property: 'og:image', content: asset_url('book-logo-black-2-sq.jpg')}/

%h2 Study With Us

%div.wide-pic{:style => "background-image: url(#{image_path "psephology.jpg"})"}

%p
  Newspeak House is a hub for communities working to change society with technology, spanning all kinds of civic institutions, including government, politics, activism, charities, journalism, think-tanks, NGOs, philanthropy, and academia.
%p
  At the heart of Newspeak House is its one-year course, 
  %strong
    Introduction to Political Technology
  \, running since 2015. Participants spend a year immersed in these communities enjoying the opportunity to meet thousands of people and participate in a wide range of in-person events at Newspeak House and elsewhere.
%p
  The programme is designed to support mid-career technologists develop a holistic understanding of the civic landscape in the UK, in order to found groundbreaking new projects or seek strategic positions in key institutions. It’s ideal for people who have been working professionally for several years and are now looking to grow their network and spend time reflecting deeply on how they can best have impact on the world.
%p
  Participants will:
%ul
  %li Be immersed in a wide variety of emerging civic communities of practice
  %li Engage with expert practitioners working in senior positions across UK institutions
  %li Develop strong relationships with a close cohort of peers
  %li Work on their own projects with the guidance and mentorship of our faculty
%p
  Participants should plan to spend at least sixteen hours a week focused on the course itself. This will be a mix of discussions, pair work, self-study, attending events, and connecting and collaborating with other participants, fellows, members, organisers, and the growing communities working on political technology. The course activities are designed to fit around a job, particularly if remote or flexible.
%p
  Course content is re-written each year to reflect the dynamic nature of the field and the needs of the particular cohort, but broadly the first half of the year is focused on group exercises and getting an overview of the field, and the second half on developing your individual projects. Upon successful completion of the course, you will be invited to join the 
  %a{:href => "/fellowship"} Newspeak House fellowship
  \, the start of a lifelong relationship with the institution and its networks.

%h3 Testimonials

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "lisa.png"})"}
  %div.profile-text
    %p.quote
      “A unique opportunity to connect with communities and ideas from across domains of politics, technology and social science”
    %p
      %a{:href => "https://www.linkedin.com/in/lisa-murphy-982bb1b9"}> Dr Lisa Murphy
    %p
      Technology Lead for Digital Equity at The Wellcome Trust
      %br/
      Fellow of Newspeak House

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "rufus.jpg"})"}
  %div.profile-text
    %p.quote
      “For better or for worse, technology shapes society, but we can - and must - influence the path it takes. Newspeak House is the place to tackle this head on”
    %p
      %a{:href => "https://rufuspollock.com/"}> Dr Rufus Pollock
    %p
      Founder & President of Open Knowledge
      %br/
      Fellow of Newspeak House

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "areeq.png"})"}
  %div.profile-text
    %p.quote
      “It's a factory which produces transformational ideas, people, and action — the beating heart of the UK's technology and democracy scene”
    %p
      %a{:href => "https://areeqchowdhury.com/"}> Areeq Chowdhury
    %p
      Head of Policy at The Royal Society
      %br/
      Fellow of Newspeak House

%h3 You should apply if...
  
%ul
  %li There are wrongs in the world that you want to set right, and you feel a personal responsibility for taking action. This has affected your career decisions, or you have some track record of volunteering or organising. You worry about whether your work has impact.
  %li You’re in an exploratory mode. There are rapid changes happening in the world that you want to spend time reflecting on. You don't currently have a single project that you're deeply focused on, and are open to meeting and learning from people who may not obviously possess knowledge you're looking for. You’re curious about the dynamics of unfamiliar groups, communities, networks, institutions, fields, and movements. You're able to engage tactfully with many different kinds of people, whose values and approaches you may not agree with.
  %li
    You believe in the importance of technology for social change. You've worked on a product or service, whether solo or as part of a team. You're not afraid of getting your hands dirty and making things. This does not necessarily mean that you're a software developer - a lot can be done with 
    %a{:href => "https://en.wikipedia.org/wiki/No-code_development_platform"} no-code
    and
    %a{:href => "https://en.wikipedia.org/wiki/Low-code_development_platform"} low-code
    \- but you're not put off by the idea that you might have to spend time figuring out how to build something.
  %li You enjoy meeting new people. Your best work is done in a communal setting in close proximity to others. You go to meetups for fun, perhaps you have organised one. You’re excited by the idea of spending several nights of the week attending events. You have some kind of online presence, and contribute to various online communities. You’re enthusiastic about sharing your knowledge and networks, as well as developing mentoring relationships.
  %li You think that your network may currently not be well represented at Newspeak House. We are looking for a diverse, interdisciplinary group that brings a mix of backgrounds, methodologies, fields, and professions — practitioners, organisers, researchers, developers, lawyers, advocates, activists, educators, entrepreneurs, journalists, technology industry actors, field builders, those coming out of a government office or position, policy analysts, public intellectuals, and those whose practice doesn’t fit squarely into conventional categories.

%p
  If you’re not sure if you should apply, feel free to get in touch for a conversation about whether a residency might be right for you:
  %a{:href => "mailto:contact@newspeak.house"} contact@newspeak.house

%div.wide-pic{:style => "background-image: url(#{image_path "computing2.png"})"}
