- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technology'}/
  %meta{property: 'og:image', content: asset_url('book-logo-black-2-sq.jpg')}/

%h2 Study With Us

%div.wide-pic{:style => "background-image: url(#{image_path "psephology.jpg"})"}

%p
  Newspeak House is a hub for communities working to change society with technology, spanning all kinds of civic institutions, including government, politics, activism, charities, journalism, think-tanks, NGOs, philanthropy, and academia.
%p
  At the heart of Newspeak House is its one-year course, 
  %strong
    Introduction to Political Technology
  \, running since 2015. Participants spend a year immersed in these communities enjoying the opportunity to meet thousands of people and participate in a wide range of in-person events at Newspeak House and elsewhere.
%p
  The programme is designed to support mid-career technologists develop a holistic understanding of the civic landscape in the UK, in order to found groundbreaking new projects or seek strategic positions in key institutions. It’s ideal for people who have been working professionally for several years and are now looking to grow their network and spend time reflecting deeply on how they can best have impact on the world.
%p
  Participants will:
%ul
  %li Be immersed in a wide variety of emerging civic communities of practice
  %li Engage with expert practitioners working in senior positions across UK institutions
  %li Develop strong relationships with a close cohort of peers
  %li Work on their own projects with the guidance and mentorship of our faculty
%p
  Participants should plan to spend at least sixteen hours a week focused on the course itself. This will be a mix of discussions, pair work, self-study, attending events, and connecting and collaborating with other participants, fellows, members, organisers, and the growing communities working on political technology. The course activities are designed to fit around a job, particularly if remote or flexible.
%p
  Course content is re-written each year to reflect the dynamic nature of the field and the needs of the particular cohort, but broadly the first half of the year is focused on group exercises and getting an overview of the field, and the second half on developing your individual projects. Upon successful completion of the course, you will be invited to join the 
  %a{:href => "/fellowship"} Newspeak House fellowship
  \, the start of a lifelong relationship with the institution and its networks.

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "lisa.png"})"}
  %div.profile-text
    %p.quote
      “A unique opportunity to connect with communities and ideas from across domains of politics, technology and social science”
    %p
      %a{:href => "https://www.linkedin.com/in/lisa-murphy-982bb1b9"}> Dr Lisa Murphy
    %p
      Technology Lead for Digital Equity at The Wellcome Trust
      %br/
      Fellow of Newspeak House

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "rufus.jpg"})"}
  %div.profile-text
    %p.quote
      “For better or for worse, technology shapes society, but we can - and must - influence the path it takes. Newspeak House is the place to tackle this head on”
    %p
      %a{:href => "https://rufuspollock.com/"}> Dr Rufus Pollock
    %p
      Founder & President of Open Knowledge
      %br/
      Fellow of Newspeak House

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "areeq.png"})"}
  %div.profile-text
    %p.quote
      “It's a factory which produces transformational ideas, people, and action — the beating heart of the UK's technology and democracy scene”
    %p
      %a{:href => "https://areeqchowdhury.com/"}> Areeq Chowdhury
    %p
      Head of Policy at The Royal Society
      %br/
      Fellow of Newspeak House

%details
  %summary
    %h3 You should apply if...
    
  %ul
    %li There are wrongs in the world that you want to set right, and you feel a personal responsibility for taking action. This has affected your career decisions, or you have some track record of volunteering or organising. You worry about whether your work has impact.
    %li You’re in an exploratory mode. There are rapid changes happening in the world that you want to spend time reflecting on. You don't currently have a single project that you're deeply focused on, and are open to meeting and learning from people who may not obviously possess knowledge you're looking for. You’re curious about the dynamics of unfamiliar groups, communities, networks, institutions, fields, and movements. You're able to engage tactfully with many different kinds of people, whose values and approaches you may not agree with.
    %li
      You believe in the importance of technology for social change. You've worked on a product or service, whether solo or as part of a team. You're not afraid of getting your hands dirty and making things. This does not necessarily mean that you're a software developer - a lot can be done with 
      %a{:href => "https://en.wikipedia.org/wiki/No-code_development_platform"} no-code
      and
      %a{:href => "https://en.wikipedia.org/wiki/Low-code_development_platform"} low-code
      \- but you're not put off by the idea that you might have to spend time figuring out how to build something.
    %li You enjoy meeting new people. Your best work is done in a communal setting in close proximity to others. You go to meetups for fun, perhaps you have organised one. You’re excited by the idea of spending several nights of the week attending events. You have some kind of online presence, and contribute to various online communities. You’re enthusiastic about sharing your knowledge and networks, as well as developing mentoring relationships.
    %li You think that your network may currently not be well represented at Newspeak House. We are looking for a diverse, interdisciplinary group that brings a mix of backgrounds, methodologies, fields, and professions — practitioners, organisers, researchers, developers, lawyers, advocates, activists, educators, entrepreneurs, journalists, technology industry actors, field builders, those coming out of a government office or position, policy analysts, public intellectuals, and those whose practice doesn’t fit squarely into conventional categories.
  
  %p
    If you’re not sure if you should apply, feel free to get in touch for a conversation about whether the course might be right for you:
    %a{:href => "mailto:contact@newspeak.house"} contact@newspeak.house
  
  %div.wide-pic{:style => "background-image: url(#{image_path "computing2.png"})"}

%details
  %summary
    %h3 Key Dates
  %table
    %thead
      %tr
        %th 2024
        %th
    %tbody
      %tr
        %td March
        %td Applications Open
      %tr
        %td May onwards
        %td Offers made on a rolling basis
      %tr
        %td Late September
        %td New residents move in
      %tr
        %td Start October
        %td Matriculation, Autumn Term Starts
      %tr
        %td Early December
        %td Autumn Term Ends
    %thead
      %tr
        %th 2025
        %th
    %tbody
      %tr
        %td Early January
        %td Spring Term Starts
      %tr
        %td Late March
        %td Spring Term Ends
      %tr
        %td Mid April
        %td Summer Term Starts
      %tr
        %td Mid July
        %td Summer Term Ends
      %tr
        %td Start October
        %td Graduation

%details
  %summary
    %h3 The Course
  %p
    The Course
    %strong Introduction to Political Technology
    is made up of three pillars: core modules, advanced modules, and the tutor system.
  
  %h4 Core Modules
  %p Three core modules anchor the course. They are:
  %h5 Governance
  %p In this module you will learn theories and concepts about how groups and organisations work (and don’t)—and get to try them out in practice with your fellow participants! You will experiment with innovative governance infrastructure, explore how to diagnose and solve patterns or problems unfolding in a group, make and judge unconventional proposals, assign and inhabit roles, resolve conflicts, and reflect on the opportunities and challenges of collaboration.
  %h5 Fieldwork
  %p There are two empirical entry-points into the field of political technology. The first is to study real political and civic organisations to see how they work and what infrastructure they deploy. The second is to collect and study technology that people make explicitly for ideological reasons. In this module, we will do both!
  %p
    Your explorations in this module will be supported by college librarian Matt Stempeck, who maintains the 
    %a{:href => "https://civictech.guide/"} Civic Tech Field Guide
    \, the largest existing repository of political technology projects. You will have the opportunity to contribute your discoveries to the Guide!
  %p This module also includes the Experimental Grantmaking Exercise, in which participants apply the new theory and skills they have learned to a difficult and unsolved real-world decision-making problem: impact evaluation and co-budgeting. The exercise also provides an opportunity for participants to reflect on their own values and priorities as they relate to political technology.
  %h5 Prototype
  %p The culmination of the year’s work. You will produce an original project in the landscape of political technology—such as an organisation or software application—both to demonstrate your sophisticated understanding of the field and to have an ongoing real world impact.
  
  %h4 Advanced Modules
  %p
    The
    %strong advanced modules
    are additional modules designed to supplement the content and experiences of the core modules. They provide additional perspectives and support for course participants as they complete the core modules and offer opportunities for participants to familiarise themselves with terms and concepts from the fields of theory and practice that political technology draws on.
  %p The advanced modules planned for 2024-25 are outlined below. The course is developed in an agile way so there may be minor adjustments, but significant changes are unlikely.
  %h5 Sociotechnical Systems
  %p In this module we will consider how the ‘technical’ and the ‘nontechnical’ shape each other. ‘Technical’ things like train cars, computer systems, power plants, and standards are shaped by ‘nontechnical’ things like laws, politics, business models, organisational culture, and the psychology of user groups and influential individuals. ‘Nontechnical’ things can in turn be (re-)shaped by new possibilities — or constraints — afforded by technical systems. This module aims to support Fellows’ projects and other ongoing work by serving as a place to discuss the interplay between the apparently ‘technical’ and the apparently ‘nontechnical.’
  %h5 Decision-making
  %p There is no such thing as an independent individual: everything you do and know and think is shaped by other people.
  %p This module will develop a sociophysics-based framework for understanding and engineering decision-making in teams, organizations, and networks. A core component of this module will be experiential learning activities that engage you directly in real and simulated decisions. Each activity will be linked to a formal computational model of decision-making that explains macro-level outcomes as a result of individual agent behavior. This module will present a practical survey of the emerging field of collective intelligence with a focus on technology-enabled solutions for optimizing decisions.
  %h5 Mechanism Design
  %p If game theory is the study of optimal decision-making by agents given a set of resources, utilities, and constraints, [i.e. given a decision architecture, how should agents behave?] then mechanism design is the study of the inverse problem, namely, given a set of desirable behaviours, how do we design a decision architecture so that agents playing this game converge to the desired behaviour?
  %p i.e if microeconomics is the science of predicting the behaviour of optimising agents, then mechanism design is an attempt to engineer that behaviour.
  %h5 Political Organising
  %p As technology reshapes the political landscape, traditional wisdom in political strategy is being upended. In this module, you will learn about the current state of political campaigning and organising in the UK and explore how this is being changed by technology. It is designed to support students to develop and operationalise their own political strategies for the causes they care about.
  %p How can you make change actually happen? What pressure points can you target? How does technology impact this? What opportunities are there for technologists to influence politics? This module will teach you how to navigate the realpolitik of the political system and how to make lasting systemic political change.
  %h5 Open Source
  %p Open Source software is software whose source code is open for everyone to review and change. This way of making and distributing software has come to play a significant role in today’s internet-enabled world.
  %p The open source software movement is also interesting from a political point of view. Free software started as a socio-political movement in the 1980s and open-source governance has come to denote a political philosophy based on democratic principles championed by the open-source software movement.
  %p In this module, we aim to contribute to existing open source software (and make new ones) with useful and meaningful impact.
  %h5 Network Development
  %p Networks surround us, support us and breathe through us. When people think of networking, they may think of handing out business cards at a conference, selling themselves to the crowd. But they can be so much more.
  %p In this module we’ll explore network development as building community, as developing the spatial awareness of social interactions, helping disparate and disconnected groups to get to know each other so they can work together.
  %p Together, we will work to understand the building blocks of networks and a key set of practices that can enable you to better understand and weave community interaction wherever you are, including network mapping, asynchronous events, handbook practices, seeing as a network, communication channels and network leadership behaviours.
  %h5 Game Design
  %p Interactions with systems are not only transactional, but emotional. Given an intended emotional outcome of a system, how would you build it? Political regimes in the real world are in fact also such systems, albeit for different ends. In this module, you’ll learn some game design theory from the commercial games industry, and also get hands-on experience of making game-design decisions.
  %h5 Future Crafting
  %p In this module, we tackle issues of prediction, risk management and forecasting and how these tactics influence the future. There is a difference between predicting what is likely given where we are now and the current conditions, compared to creating possibility. All too often futurism conflates these two. Worse perhaps is our collective confusion about the difference between risk and uncertainty. Here we introduce the concepts of future-crafting and hyperstition, and discuss how these approaches might open up imaginary space in the future.
  %h5 Service Design
  %p This module introduces students to the fundamentals of product and service design, exploring the entire design process from concept to execution. Students will learn how to identify user needs, ideate solutions, create prototypes, and deliver user-centric products and services.
  
  %h4 Tutor System
  %p Each course participant will be assigned a tutor from the faculty. The tutor meets with their tutee in person at least once per month to discuss their progress through the course and agree on any support the tutee or the faculty at large can provide. This role is analogous to the role called ‘supervisor’ in UK postgraduate programmes and ‘advisor’ in US programmes. It is largely a coaching role.

%details
  %summary
    %h3 Faculty

  %h4.profile-title Edward Saperia
  %div.profile-subtitle
    Dean of Newspeak House
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "edward.jpg"})"}
  %p
    %a{:href => "mailto:ed@newspeak.house"} ed@newspeak.house
    •
    %a{:href => "https://twitter.com/edsaperia"} @edsaperia
    •
    %a{:href => "https://tinyletter.com/edsaperia"} newsletter
  %p
    Edward is the dean of Newspeak House, responsible for setting its research direction as well as the day-to-day running of the college. His area of study is infrastructure for organising and network development, and he spends his time trying to connect up bits of civil society, or making tools to do so: chair
    %a{:href => "https://centrefordemocracy.org.uk/"}> &thinsp;Centre for Democracy
    , board member
    %a{:href => "https://www.compassonline.org.uk/"}> &thinsp;Compass
    , director
    %a{:href => "https://civicai.uk/"}> &thinsp;Civic AI Observatory
    , steward
    %a{:href => "https://docs.plus"}> &thinsp;docs.plus
    , co-author
    %a{:href => "https://www.reorganise.work/"}> &thinsp;Reorganise
    , co-founder
    %a{:href => "https://data-collective.org.uk/"}> &thinsp;Data Collective
    , co-founder
    %a{:href => "https://www.techforgoodorganisers.uk/"}> &thinsp;Tech for Good Organisers Network
    , founder Environmental Permit Data Service (coming soon!)
  
  %h4.profile-title Matt Stempeck
  %div.profile-subtitle
    Librarian of Newspeak House
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "matt-stempeck.png"})"}
  %p
    %a{:href => "mailto:matt@civictech.guide"} matt@civictech.guide
    •
    %a{:href => "https://mattstempeck.com"} mattstempeck.com
  %p
    Matt Stempeck is the librarian of Newspeak House. He curates the
    %a{:href => "https://directory.civictech.guide/"} &nbsp;Civic Tech Field Guide
    , the most comprehensive collection of democracy tech projects anywhere. He helps the college learn what's worked, what hasn't, and how not to be the latter, and also help initiatives to connect into related work being done across the field.
  %p
    Matt's professional background includes stints as Microsoft's Director of Civic Technology, Hillary Clinton's Director of Digital Mobilization, and MIT Media Lab's Center for Civic Media's  leftover-catering-consuming Master's student. He's based in Lisbon, Portugal, and will panel for travel.
  
  %h4.profile-title Dr Zarinah Agnew
  %div.profile-subtitle
    Lecturer in Collective Behaviour
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "Zarinah-Colour.png"})"}
  %p
    %a{:href => "mailto:zarinah@newspeak.house"} zarinah@newspeak.house
    •
    %a{:href => "http://www.zarinahagnew.com"} zarinahagnew.com
    •
    %a{:href => "https://twitter.com/zarinahagnew"} @zarinahagnew
  %p
    Zarinah is a neuroscientist by training. After spending over a decade in academia, they left to study the science of groups of brains - that is, humans in collectivity.
  %p
    Alongside their work with the college, Zarinah runs three nonprofits aimed at experimental aspects of society, collective transformation and para-institutions. The
    %a{:href => "https://www.socialobservatory.space"} Social Science Observatory
    is dedicated to the study of social science in the wild,
    %a{:href => "https://www.alternativejustices.com/"} Alternative Justices
    works towards abolitionist community-based harm prevention and response, and
    %a{:href => "https://www.districtcommons.org/"} District Commons
    engineers experimental spaces where humans can ‘be otherwise’. Together, these strands allow both the prefiguration of new social configurations, as well as the study of their transformational potential.
  
  %h4.profile-title Dr Joshua Becker
  %div.profile-subtitle
    Lecturer in Collective Intelligence
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "joshua-becker.jpg"})"}
  %p
    Joshua Becker is an Assistant Professor at the UCL School of Management with 15 years experience as a practising mediator. Joshua researches collective intelligence with an emphasis on group decision-making and their teaching at UCL includes a module on Negotiation and a module on Technology and Collective Intelligence. Their research has been published in outlets including Science, Management Science, and Harvard Business Review. Joshua received a PhD in Communication from the University in Pennsylvania and completed a postdoctoral fellowship with the Kellogg School of Management.
  %p
    Prior to graduate school, they worked professionally in mediation and communication training and has completed hundreds of mediation sessions including personal disputes, employer/employee conflict, and decision facilitation. Joshua also has deep experience in community building and currently serves on the board of trustees for Sunday Assembly London. In 2023, Joshua was ranked among the "Best 40 Under 40 Business School Professors" by popular MBA blog Poets & Quants.
  
  %h4.profile-title Theodore Keloglou
  %div.profile-subtitle
    Lecturer in Open Source
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "theo.jpg"})"}
  %p
    %a{:href => "mailto:zf@sirodoht.com"} zf@sirodoht.com
    •
    %a{:href => "https://nutcroft.com/"} nutcroft.com
    •
    %a{:href => "https://github.com/sirodoht"} @sirodoht
  %p
    Theodore Keloglou has ten years of professional experience in making
    software across the energy and medical/biotech industries.
    He is interested in how people can use technology to govern themselves,
    organise society, and distribute power in a fair way.
  %p
    He convenes
    %a{:href => "https://chaitinschool.org/"}> &nbsp;Chaitin School
    , a software engineering community in London, England. He has built
    %a{:href => "https://mataroa.blog/"}> &nbsp;mataroa.blog
    , an open-source blogging platform and has started
    %a{:href => "https://laniakeabooks.org/"}> &nbsp;Laniakea Books
    , a public domain publishing house. He has written
    %a{:href => "https://laniakeabooks.org/books/letters-from-prison/"}> &nbsp;“Letters from Prison”
    , a book on societal freedom. He blogs at
    %a{:href => "https://nutcroft.com/"}> &nbsp;nutcroft.com
    \.
  
  %h4.profile-title James Moulding
  %div.profile-subtitle
    Lecturer in Network Development
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "james-moulding.png"})"}
  %p
    James Moulding is the Lecturer in Network Development at Newspeak House, he is also a former resident and Fellow of the 2016-2017 cohort. James is a network thinker, political campaigner and simulation and serious game designer.
  %p
    James is the Network Development Lead on Involve’s 
    %a{:href => "https://democracynetwork.org.uk/"}> &nbsp;UK Democracy Network
    , prior to which he was the Director of the
    %a{:href => "https://centrefordemocracy.org.uk/"}> &nbsp;Centre for Democracy
    , where he has been working to enhance the capacity of organisations and individuals across the UK democracy sector and increasing the strength and quality of connection between them.
  %p
    James has enjoyed an eclectic career working across a range of different roles associated with technology, community development and political campaigning. He began his career developing a community of technologists working with real-time sensor open data, before co-founding award-winning air quality non-profit AirPublic. He went on to work with political fundraising startup Crowdpac, before launching the 2017 viral mobile game Corbyn Run and co-founding the pioneering UK Labour Party affiliated game development studio Games for the Many.
  %p
    His other roles have included as co-founder of Campaign Lab, co-founder of Common Knowledge and as a National Coordinator of Extinction Rebellion.
  
  %h4.profile-title Hannah O’Rourke
  %div.profile-subtitle
    Lecturer in Political Organising
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "hannah.jpg"})"}
  %p
    %a{:href => "https://twitter.com/Hannah_O_Rourke/"} @Hannah_O_Rourke
  %p
    Hannah is a bridge builder and network maker, passionate about making politics
    more open, collaborative, and focused on the future. She has worked in
    political organising, coalition management and campaigning for over 10 years.
  %p
    She is the co-founder of
    %a{:href => "https://www.campaignlab.uk/"}> &nbsp;Campaign Lab
    , a community of technologists who
    research, test and embed new tools and new practices in political campaigns.
    She is co-author of the book
    %a{:href => "http://www.reorganise.work/"}> &nbsp;Reorganise: 15 Stories of Workers fighting back in a digital age
    \. She is an advisor to the
    %a{:href => "https://civicai.uk/"}> &nbsp;Civic AI Observatory
    , and also an
    %a{:href => "https://www.linkedin.com/pulse/ai-decide-next-election-sam-lockwood"}> &nbsp;emerging AI and campaigning network
    in Brussels focused on the EU wide
    elections. She was formerly the director of Labour Together and convened the
    2019
    %a{:href => "https://electionreview.labourtogether.uk/"}> &nbsp;Labour Election Review
    \.
  
  %h4.profile-title Dr Six Silberman
  %div.profile-subtitle
    Lecturer in Socio-Technical Systems
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "six.jpg"})"}
  %p
    M. Six Silberman is the Lecturer in Sociotechnical Systems at Newspeak House.
    Silberman also works as a postdoctoral researcher at the University of Oxford,
    studying the regulation of algorithmic management in the
    %a{:href => "https://www.law.ox.ac.uk/imanage-rethinking-employment-law-for-a-world-of/imanage-rethinking-employment-law-world"} &nbsp;‘iManage’ Project
    with colleagues Sangh Rakshita, Dr Halefom Abraha, and Principal Investigator
    Jeremias Adams-Prassl.
  %p
    Between 2008 and 2020 Silberman was lead developer of Turkopticon, a web
    application used by ‘clickworkers’ on Amazon’s Mechanical Turk platform.
    Between 2015 and 2020 Silberman worked at IG Metall, the trade union in the
    German manufacturing sector, on worker rights in digital labour platforms.
    Between 2020 and 2022 Silberman worked as a software engineer at Organise, a
    London-based social enterprise aiming to give people the tools, networks, and
    confidence to win positive change at work. Silberman publishes peer-reviewed
    research on data protection, worker rights, and environmental sustainability
    and information technology.
  
  %h4.profile-title Mustafa Warsi
  %div.profile-subtitle
    Lecturer in Mechanism Design
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "mustafa-crop.png"})"}
  %p
    Mustafa Warsi is the Lecturer in Mechanism Design at Newspeak House. Warsi is a global macro researcher/trader at Marshall Wace Asset Management LLC trading commodities, interest rates and global equities. Previously, Warsi worked in quantitative macro investment solutions at JP Morgan, before which he worked on a Power Trading desk at DE Shaw and Co.
  %p
    Warsi studied Pure Mathematics (BA + MMath) at the University of Cambridge with a focus on Algebra. Warsi also co-runs a charity in India to provide scholarships for girls from lower-caste communities.
  
  %h4.profile-title Shad Gibran
  %div.profile-subtitle
    Lecturer in Service Design
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "shad.png"})"}
  %p
    Shad is a design professional of ten years. He’s worked in billion dollar companies and social enterprises to help them ideate, test and design the right things for their users.
  %p
    Shad is also a former resident and fellow of the 2016-2017 cohort.
  
  %h4.profile-title Sam Ballard
  %div.profile-subtitle
    Lecturer in Game Design
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "sam2.jpg"})"}
  %p
    %a{:href => "https://twitter.com/baronblackmore"} @baronblackmore
    •
    %a{:href => "https://sunlightafterdark.com"} sunlightafterdark.com
  %p
    Sam Ballard has two roles at Newspeak House. He is lecturer in game design, and also artist in residence. Sam has been designing digital experiences for over a decade, with an emphasis on user orientated design thinking methodologies to solve both creative challenges & system design. He is currently a designer at ZA/UM, the studio behind Disco Elysium.
  %p
    As artist in residence, Sam helps the fellows' visions come to life, whether it's in the form of a website, branding, illustration, animation, or game. Feel free to ask him if there’s something you want help with!

%details
  %summary
    %h3 Residency & Non-Residency
  %p From 2015 to 2023 the programme in political technology was fully residential, and course participants lived on campus at Newspeak House. In 2023 we began to offer non-resident places in the cohort.
  %p
    %strong This tradition is being expanded in 2024-25, and we are pleased to offer six resident and six non-resident places in this year’s cohort.
  %p Residential and non-residential participation offer various benefits.
  %p A principal benefit of residency is the opportunity to engage with the collegiate environment in an immersive, ongoing manner and participate in activities organised on campus.
  %p Non-residential participation may be more appropriate for participants with logistical constraints (e.g. care responsibilities) which prevent them from being resident.
  %p
    Because of the importance to the course of 
    %a{:href => "/events"} in-person activities
    \, non-resident participants are required to live within 30 minutes’ travel to Newspeak House’s London campus. Participants are expected to be on campus several days per week. The course does not offer a fully remote or ‘hybrid’ participation option.
  %p Unfortunately the lodgings offered are not wheelchair accessible, and space is not available for partners/family. Also, aside from service animals, residents are not permitted to keep roaming pets.

%details
  %summary
    %h3 Pastoral System
  %p The wellbeing of participants is of great importance to us. Newspeak House employs an interfaith minister and retains a pastoral board who are there to provide support for the emotional and psychological health of our community members.
  %p Even in communities where everyone has the best of intentions, things can sometimes go wrong. Our pastoral team are experienced in community harm prevention and response, and we will proactively deal with any conflicts or pastoral issues should they arise.
  %p If you would like to know more about our pastoral provisions, please contact mark@newspeak.house

%details
  %summary
    %h3 Fees
  %p The course fee for the entire year is £2400, payable upon acceptance of your offer.
  %p For those who choose to live in college accommodation, the cost is £1000 per calendar month, payable from October 2024 until August 2025 inclusive. This includes all bills, as well as a full time facilities manager and a cleaner for common areas.
  %p Thanks to generous gifts from fellows and community members, there are some full and partial scholarships available. Please indicate in your application if your participation is contingent on a scholarship.
  %p (If your participation is contingent on securing a scholarship and you are offered a spot but are not able to secure a scholarship, you are not obligated to participate in the course.)

%h3 How to Apply
%p If you are interested in applying, please click the following link, where you will be asked for your email address and (optionally) your phone number:
%p
  %a.section-link{:href => "https://forms.gle/xbqd4L9oLtcdxxAr9"} I AM INTERESTED!
%p
  We will follow up with a short application form that should take you no more than 20 minutes to complete. This is to give us an idea of what your interests are, and start a conversation as to whether the course might be the right thing for you. After you’ve submitted your application, you’ll be invited to:
  %ul
    %li attempt a short written task that should take no more than an hour
    %li attend an interview, either at Newspeak House or remotely
%p Applications are taken on a rolling basis until all spaces are filled - if you are reading this, then applications are still open!
%p While we welcome applications from outside the United Kingdom, we are currently unable to support the acquisition of visas. If you are applying from outside the United Kingdom and are accepted, you will need to secure your own visa and, depending on your situation, work permit.
%p Newspeak House is strengthened by the diversity of our network and our differences in background, culture, experience, age, national origin, religion, sexual orientation, and much more. We strongly encourage applications from people of colour, women, the LGBTQIA community, and disabled people.
%p You're welcome to reapply if you don't get selected the first time.
%p If you have any questions about the course or the application process, don't hesitate to reach out via contact@newspeak.house. Questions about the opportunity or process will not reflect negatively on an application.
