.event{ id: "event-#{event.id}" }
  .event-details
    = link_to events_path(anchor: "event-#{event.id}", id: event.id) do
      = event.start_at.strftime('%d') + event.start_at.strftime('%^b')
      %br/
      = event.start_at.strftime('%l:%M%P')
      \-
      = event.end_at.strftime('%l:%M%P')
      %br/
      = event.location

  .event-title= link_to event.name, event.url
  - unless event.public?
    %small (Private event)

  .event-host= link_to event.organiser_name, event.organiser_url

  = Kramdown::Document.new(event.description).to_html.html_safe

  = link_to "more information", event.organiser_url, class: 'section-link'

  - if can? :update, event
    .event-actions= link_to 'Edit', edit_admin_event_path(event)
