- cache event do
  .event{ id: "event-#{event.id}" }
    .event-title= link_to event.name, event.url
    - unless event.public?
      %small (Private event)

    = link_to events_path(anchor: "event-#{event.id}", id: event.id) do
      .event-details= event.formatted_date_details

    .event-host= link_to event.organiser_name, event.organiser_url

    = event.description_html

    = link_to "Register ↗", event.url, class: 'section-link'

    - if can? :update, event
      .event-actions= link_to 'Edit', edit_admin_event_path(event)
