- content_for :page_title do
  Events

- content_for :extra_tags do
  %meta{property: 'og:url', content: events_url(anchor: "event-#{@selected_event.id}", id: @selected_event.id)}/
  %meta{property: 'og:title', content: @selected_event.name}/
  %meta{property: 'og:description', content: @selected_event.short_description}/
  %meta{property: 'og:image', content: asset_url('logo.png')}/

%h2
  Events
  %br/
  %small= link_to 'Subscribe with iCal', api_events_url(protocol: 'webcal', format: :ics, only_path: false)
  \-
  %small
    = link_to 'Propose an event', 'mailto:ed@nwspk.com?subject=Newspeak%20House%20Event%20Proposal&body=Name:%20%0D%0ADate:%20%0D%0ATime:%20%0D%0AHow%20many%20people:%20%0D%0ADescription:'

- @events.each do |event|
  = render partial: 'row', locals: { event: event }

%hr/

%h2 Event archive

- @past_events.each do |event|
  = render partial: 'row', locals: { event: event }
