%h1 Events#index
%p Find me in app/views/events/index.html.haml

%table
  %thead
    %tr
      %th Date
      %th Time
      %th Event
  %tbody
    - @events.each_pair do |day, events|
      %tr
        %td{ rowspan: events.size + 1 }
          .dayofmonth= events.first.start_at.strftime('%e')
          .dayofweek= events.first.start_at.strftime('%A')
          .shortdate= events.first.start_at.strftime('%B, %Y')
        %td
        %td
      - events.each do |event|
        %tr
          %td
            = event.start_at.strftime('%l:%M%P')
            \-
            = event.end_at.strftime('%l:%M%P')
          %td= link_to event.name, event_path(event)
