%h1= @event.name

= @event.start_at.strftime('%l:%M%P')
\-
= @event.end_at.strftime('%l:%M%P')
%br/
= @event.location
%br/
= link_to @event.url
%br/
= @event.organiser_name
%br/
= @event.organiser_email
%br/
= link_to @event.organiser_url

%div= Kramdown::Document.new(@event.description).to_html.html_safe
