- content_for :page_title do
  Change plan

- content_for :back_link do
  = dashboard_path

%h3.no-topping Change subscription plan

- if @subscription.needs_checkout?
  .alert.alert-info
    It looks like you haven't checked out yet. You need to checkout to be an active member of Newspeak House. You can change your plan selection before proceeding.
    %strong= link_to 'Checkout now', checkout_subscription_path

= simple_form_for(@subscription, url: subscription_path) do |f|
  = f.association :plan, collection: Plan.all_visible, label_method: :description, include_blank: false

  .form-group
    = f.button :submit, 'Change plan'

- unless @subscription.needs_checkout?
  %h3 Change credit card

  %p
    Click
    = link_to 'here', checkout_subscription_path
    to change your credit card that is being billed.

- if @subscription.active?
  %h3 Cancel subscription
  %p
    Click
    = link_to 'here', subscription_path, data: { confirm: 'Are you sure?' }, method: :delete
    to cancel.
