- content_for :page_title do
  Change plan

- content_for :back_link do
  = dashboard_path

%h2 Change subscription plan

- if @subscription.needs_checkout?
  %p
    It looks like you haven't checked out yet. You need to checkout to be an active member of Newspeak House. You can change your plan selection before proceeding.
    = link_to 'Checkout now', checkout_subscription_path

= simple_form_for(@subscription, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { radio_buttons: :horizontal_radio_and_checkboxes }) do |f|
  = f.association :plan, as: :radio_buttons, collection: Plan.visible, label_method: :description

  .form-group
    .col-sm-3.col-sm-6
      = f.button :submit, 'Change plan', class: 'btn-success'

- if !@subscription.needs_checkout?
  %hr/

  %h3 Change credit card

  %p
    If you would like to update the credit card that is being billed, you can use the
    = link_to 'Checkout page', checkout_subscription_path
    again

%hr/

%h3 Cancel subscription

- if @subscription.active?
  %p= link_to 'Cancel subscription', subscription_path, data: { confirm: 'Are you sure?' }, method: :delete
- else
  %p.text-muted Your subscription is already terminated
