= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { boolean: :horizontal_boolean }) do |f|
  = f.input :email, required: false, autofocus: true
  = f.input :password, required: false
  = f.input :remember_me, as: :boolean

  .form-group.form-submit
    .col-6
      = f.button :submit, "Log in"

= render "devise/shared/links"

.single-line.extra-space.breakout

.footer
  = link_to image_tag('mono.png'), root_path
