!!!
%html
  %head
    %title
      Newspeak House
      - if content_for? :page_title
        \-
        = yield :page_title

    %link{href: canonical_path, rel: 'canonical'}/
    %link{type: 'text/plain', rel: 'author', href: root_url + 'humans.txt'}/

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    = yield :extra_tags
  %body

    = content_for?(:content) ? yield(:content) : yield
