!!!
%html
  %head
    %title
      Newspeak House
      - if content_for? :page_title
        \-
        = yield :page_title

    %link{href: canonical_path, rel: 'canonical'}/
    %link{type: 'text/plain', rel: 'author', href: root_url + 'humans.txt'}/

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    = yield :extra_tags
  %body
    .logo
      = link_to 'NEWSPEAK HOUSE', root_url

    = content_for?(:content) ? yield(:content) : yield

    .footer
      = link_to image_tag('mono.png'), root_path

    :javascript
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
      }(document, "script", "twitter-wjs"));

    - if Rails.env.production?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '#{GOOGLE_UA}', 'auto');
        ga('send', 'pageview');
