!!!
%html
  %head
    %title NWSPK House Member's Club

    %link{href: '//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700', rel: 'stylesheet', type: 'text/css'}/

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-custom
      .container
        .logo
          = link_to image_tag( 'logo.png'), root_path
        %ul.nav.navbar-nav
          - if user_signed_in?
            %li= link_to 'Account', dashboard_path
          - else
            %li= link_to 'Home', root_path
            %li= link_to 'Membership', membership_path
            %li= link_to 'Fellowship', fellowship_path
            %li= link_to 'Calendar', "https://hackpad.com/Newspeak-House-Events-Calendar-uNKMeHocJE9"
            %li= link_to 'Contact', contact_path
            %li= link_to 'Sign in', new_user_session_path, class: 'navbar-login'

    = yield :pre_content

    .container
      - if notice
        .alert.alert-success.alert-dismissible
          %button{type: "button", class: "close", data: { dismiss: "alert" } }
            %span &times;
          = notice

      - if alert
        .alert.alert-danger.alert-dismissible
          %button{type: "button", class: "close", data: { dismiss: "alert" } }
            %span &times;
          = alert

      = yield

      %hr/

      %p.text-center= link_to 'Admin UI', admin_root_path, class: 'btn btn-default btn-xs'
