!!!
%html
  %head
    %title
      Newspeak House
      - if content_for? :page_title
        \-
        = yield :page_title

    %link{href: '//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700', rel: 'stylesheet', type: 'text/css'}/
    %link{href: canonical_path, rel: 'canonical'}/

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
  %body
    %nav.navbar.navbar-custom
      .container
        .logo
          = link_to image_tag( 'logo.png'), root_path
        %label{ :for => "show-nav", :class => "show-nav-btn" }
          =image_tag('expand.png')
        %input{ :type=>"checkbox", :id =>"show-nav" }
        .doubleline
        .ulcontainer
          %ul.nav.navbar-nav
            = link_to_in_li 'Home', root_path
            = link_to_in_li 'Membership', membership_path
            = link_to_in_li 'Fellowship', fellowship_path
            = link_to_in_li 'Social Graph', graphs_full_path
            = link_to_in_li 'Calendar', "https://hackpad.com/Newspeak-House-Events-Calendar-uNKMeHocJE9", target: '_blank'
            = link_to_in_li 'Contact', contact_path

            - if user_signed_in?
              = link_to_in_li 'Account', dashboard_path
            - else
              = link_to_in_li 'Sign in', new_user_session_path, class: 'navbar-login'

    = yield :pre_content

    .container.padding
      - if notice
        .alert.alert-success.alert-dismissible
          %button{type: "button", class: "close", data: { dismiss: "alert" } }
            %span &times;
          = notice

      - if alert
        .alert.alert-danger.alert-dismissible
          %button{type: "button", class: "close", data: { dismiss: "alert" } }
            %span &times;
          = alert

      = yield
