!!!
%html
  %head
    %title
      Newspeak House
      - if content_for? :page_title
        \-
        = yield :page_title

    %link{href: canonical_path, rel: 'canonical'}/

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    = yield :extra_tags
  %body

    / left side of the screen
    .screen-side{:style => "background-color: #2e2e2e;"}

    / middle of the screen
    .main
      .center-column
        .head-title
          = image_tag('book-logo-black-2.png')
          .head-text
            %h1 Newspeak House
            %h3 The London College of Political Technology

        %p
          %a.inline-link{:href => "https://goo.gl/maps/Z8Sa4T6sb3n"} 133-135 Bethnal Green Road
          •
          %a.inline-link{:href => "mailto:contact@newspeak.house"} contact@newspeak.house
          •
          %a.inline-link{:href => "https://twitter.com/nwspk"} @nwspk

        .nav
          %a{:href => "/"} home
          %a{:href => "/about"} about
          %a{:href => "/events"} events
          %a{:href => "/residency"} residency
          %a{:href => "/fellowship"} fellowship
          %a{:href => "/membership"} membership
          %a{:href => "/scholarships"} scholarships
          %a{:href => "/visit"} visit

        = content_for?(:content) ? yield(:content) : yield

    / right side of the screen
    .screen-side
