!!!
%html
  %head
    %title TomDoors

    %link{href: '//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700', rel: 'stylesheet', type: 'text/css'}/

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-custom
      .container
        .navbar-header
          %a.navbar-brand.nwspk-house{href: root_path}
            NWSPK
            %br/
            HOUSE

        %ul.nav.navbar-nav
          %li= link_to 'Dashboard', dashboard_path

        - if user_signed_in?
          %p.navbar-text.navbar-right
            Signed in as #{current_user.name}
            = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar-link'
        - else
          = link_to 'Login', new_user_session_path, class: 'btn btn-default navbar-btn navbar-right'

    = yield :pre_content

    .container
      - if notice
        .alert.alert-success.alert-dismissible
          %button{type: "button", class: "close", data: { dismiss: "alert" } }
            %span &times;
          = notice

      - if alert
        .alert.alert-danger.alert-dismissible
          %button{type: "button", class: "close", data: { dismiss: "alert" } }
            %span &times;
          = alert

      = yield
