!!!
%html
  %head
    %title
      Newspeak House
      - if content_for? :page_title
        \-
        = yield :page_title

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    = yield :extra_tags

  %body

    %aside
      %nav
        %a{:href => "/"} home
        %a{:href => "/about"} about
        %a{:href => "/events"} events
        %a{:href => "/fellowship"} fellowship
        %a{:href => "/membership"} membership
        %a{:href => "/scholarships"} scholarships
        %a{:href => "/study-with-us"} study with us
        %a{:href => "https://donate.stripe.com/cN25lPeUe3qO5zyfYY"} donate
        %a{:href => "/visit"} visit
        %a{:href => "/feedback"} feedback
        %a{:href => "/shop"} shop
        -if current_user.present?
          %a{:href => "/account"} account
        -else
          %a{:href => "/account/sign_in"} login

    %header
      .head-title
        = image_tag('lcpt-logo.png')
      .head-byline
        %a{:href => "https://goo.gl/maps/Z8Sa4T6sb3n"} 133-135 Bethnal Green Road
        •
        %a{:href => "mailto:contact@newspeak.house"} contact@newspeak.house
        •
        %a{:href => "https://twitter.com/nwspk"} @nwspk

    %main
      = content_for?(:content) ? yield(:content) : yield

    %footer
      %p
        %a{:href => "https://goo.gl/maps/Z8Sa4T6sb3n"} 133-135 Bethnal Green Road
        •
        %a{:href => "mailto:contact@newspeak.house"} contact@newspeak.house
        •
        %a{:href => "https://twitter.com/nwspk"} @nwspk
