- content_for :page_title do
  Account settings

- content_for :back_link do
  = dashboard_path

%h2 Change account information

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-vertical' }, wrapper: :vertical_form) do |f|
  = f.error_notification

  = f.input :email, required: true
  = f.input :password, autocomplete: "off", required: false
  = f.input :password_confirmation, required: false
  = f.input :current_password, required: true

  = f.button :submit, "Save changes"

%h2.top-margin Cancel account

%p
  Unhappy?
  = link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete
