- content_for :page_title do
  Membership

%p.lead.space Support Newspeak House with Membership

%p Newspeak House is primarily funded by commercial hires of its event space, but since they're unpredictable it limits our event programme and ability to invest in facilities. If we had 500 supporters, we'd be entirely self sufficient, able to have a full time events programme, and offer fully funded residential fellowships. Help us reach our goal by joining as a member!

%p <i>"As we shuffle towards a dystopian future, Newspeak House dares to offer a space where we can consider alternative visions."</i> - <a href="https://www.twitter.com/billt">Bill Thompson</a>, <a href="https://en.wikipedia.org/wiki/Bill_Thompson_(technology_writer)">Hack & Pundit</a>, Member of Newspeak House

%p Membership is charged by monthly subscription. There is a one off joining fee of #{Money.new(SIGNUP_FEE, 'GBP').format}.

%p
  %span.bold Maven discount:
  for each member you <a href="https://www.nwspk.com/graphs/full">connect to on Twitter or Facebook</a>, your membership is discounted by £1 / yr.

%table.table.table-border.extra-space
  %thead
    %tr
      %th Tier
      %th Price / m
  %tbody
    %tr
      %td Unperson
      %td £25
    %tr
      %td Proletariat
      %td £50
    %tr
      %td Outer Party
      %td £75
    %tr
      %td Inner Party
      %td £100
    %tr
      %td Thought Police
      %td £125

- unless user_signed_in?
  .single-line.extra-space

  %p.lead.space Membership Form

  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { radio_buttons: :horizontal_radio_and_checkboxes }) do |f|
    = f.error_notification

    = f.input :name, required: true
    = f.input :email, required: true
    = f.input :url, wrapper_html: { style: 'display: none' }
    = f.input :password, required: true, hint: ("(min #{@minimum_password_length} characters)" if @validatable)
    = f.input :password_confirmation, required: true
    = f.simple_fields_for :subscription do |sub_form|
      = sub_form.association :plan, as: :radio_buttons, collection: Plan.visible, label_method: :name

    .form-group.form-submit
      .col-6
        = f.button :submit, 'Proceed to checkout', class: 'btn-success'

.single-line.space.breakout


.footer
  = link_to image_tag('mono.png'), root_path
