- content_for :page_title do
  Membership

%p.lead.space Benefits of Membership

%ul
  %li
    Financially support the incubation of society-changing #{link_to 'projects', 'fellowship'}.
  %li
    = link_to 'Have a say', 'http://www.reddit.com/r/nwspk'
    in which projects receive incubation.
  %li
    = link_to 'Get access', 'https://hackpad.com/Newspeak-House-Events-Calendar-uNKMeHocJE9'
    to a space in East London dedicated to fixing society.

%p.lead.extra-space Pricing

%p Membership is charged by monthly subscription. There is a one off joining fee of #{Money.new(SIGNUP_FEE, 'GBP').format}.

%p
  %span.bold Maven discount:
  for each member you connect to on Twitter or Facebook, your membership is discounted by £1 / yr.

%table.table.table-border.extra-space
  %thead
    %tr
      %th Tier
      %th Price / yr
      %th Contribution
  %tbody
    %tr
      %td Unperson
      %td £300
      %td 10% goes directly to projects
    %tr
      %td Proletariat
      %td £600
      %td 20% goes directly to projects
    %tr
      %td Outer Party
      %td £900
      %td 30% goes directly to projects
    %tr
      %td Inner Party
      %td £1200
      %td 40% goes directly to projects
    %tr
      %td Thought Police
      %td £1500
      %td 50% goes directly to projects

- unless user_signed_in?
  .single-line.extra-space

  %p.lead.space Membership Form

  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { radio_buttons: :horizontal_radio_and_checkboxes }) do |f|
    = f.error_notification

    = f.input :name, required: true
    = f.input :email, required: true
    = f.input :password, required: true, hint: ("(min #{@minimum_password_length} characters)" if @validatable)
    = f.input :password_confirmation, required: true
    = f.simple_fields_for :subscription do |sub_form|
      = sub_form.association :plan, as: :radio_buttons, collection: Plan.visible, label_method: :name, hint: "There is a one-time setup fee of #{Money.new(SIGNUP_FEE, 'GBP').format}"

    .form-group.form-submit
      .col-sm-6
        = f.button :submit, 'Proceed to checkout', class: 'btn-success'

.single-line.space.breakout


.footer
  = link_to image_tag('mono.png'), root_path
