- content_for :page_title do
  Membership

%h2 Support Newspeak House with Membership

%p Help Newspeak House stay independent, and join a network of people pioneering novel approaches across UK public sector and civil society.


.progress-well
  = render partial: 'home/progress'

%p Memberships are #{base_plan_rate} per month, charged by monthly subscription.

%hr/

= simple_vertical_form_for(resource, as: resource_name, url: user_registration_path) do |f|
  = f.error_notification

  = f.input :name, required: true
  = f.input :email, required: true
  = f.input :url, wrapper_html: { style: 'display: none' }
  = f.input :password, required: true, hint: ("(min #{@minimum_password_length} characters)" if @validatable)
  = f.input :password_confirmation, required: true

  .form-group
    %p.help-block You can also sponsor memberships for others:

  .row
    .col-sm-6
      = f.input :sponsor, collection: Plan.visible, label: false, prompt: 'No additional memberships'
    .col-sm-6
      = f.input :applicant, as: :boolean, label: 'Apply for a sponsored membership'

  .form-group
    %p.help-block Tell us briefly why you'd like to join Newspeak House - if you can, please include details of past & current projects, activism, relevant skills, organisational affiliations, etc

  = f.input :application_text

  .form-group
    = f.button :submit, 'Submit'
    
.form-group
  %p.help-block Newspeak House may collect data from you across our website, http://www.nwspk.com, and other sites we own and operate. It is Newspeak House’s policy to use your data to further its mission - for example, connecting you with other users, or to better understand your needs.
  %p.help-block
    We collect data only by fair and lawful means, and what data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorised access, disclosure, copying, use or modification.
  %p.help-block
    You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.
  %p.help-block
    Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.
  %p.help-block
    Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.
  %p.help-block
    This policy is effective as of 1 August 2018.
