- content_for :page_title do
  Membership

%h2 Support Newspeak House with Membership

%p Help Newspeak House stay independent, and join a network of people working to improve politics with technology.
%p Memberships are #{base_plan_rate} per month, charged by monthly subscription, with a one-off joining fee of #{signup_fee}.

%hr/

= simple_vertical_form_for(resource, as: resource_name, url: user_registration_path) do |f|
  = f.error_notification

  = f.input :name, required: true
  = f.input :email, required: true
  = f.input :url, wrapper_html: { style: 'display: none' }
  = f.input :password, required: true, hint: ("(min #{@minimum_password_length} characters)" if @validatable)
  = f.input :password_confirmation, required: true

  .form-group
    %p.help-block You can also sponsor memberships for others:

  .row
    .col-sm-6
      = f.input :sponsor, collection: Plan.visible, label: false
    .col-sm-6
      = f.input :applicant, as: :boolean, label: 'Apply for a sponsored membership'

  .form-group
    %p.help-block Tell us briefly why you'd like to join Newspeak House - please include details of past & current projects, activism, organisational affiliations, etc

  = f.input :application_text

  .form-group
    = f.button :submit, 'Submit'
